@CHARSET "UTF-8";

path.link {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}

path.link.twofive {
    opacity: 0.25;
    stroke-width: 1px;
}

path.link.fivezero {
    opacity: 0.50;
    stroke-width: 2px;
}

path.link.sevenfive {
    opacity: 0.75;
    stroke-width: 3px;
}

path.link.onezerozero {
    opacity: 1.0;
    stroke-width: 4px;
}

circle {
    fill: #ccc;
    stroke: black;
    stroke-width: 1px;
}

circle.one {
    fill: gray;
}

circle.two {
    fill: green;
}

circle.three {
    fill: blue;
}

circle.four {
    fill: red;
}

circle.focus {
    stroke: violet;
    stroke-width: 6px;
}

circle.selected {
    stroke: blue;
    stroke-width: 6px;
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}
