@charset "utf-8";

/*
TABLE OF CONTENTS:
01. General
02. Header
03. Main
04. Manager
05. Footer
*/

/*---------------------------------------------------------------------*/
/*--- 01. GENERAL ---*/
/*---------------------------------------------------------------------*/

$darkText: #363636;
$normalText: #859095;
$lightText: #AAB1B5;
$placeholderText: #D5D8DA;
$orange: #FCA567;
$green: #64BFCD;
$red: #E45E5E;
$lineHeight: 1.5em;

//rounded corners
@mixin rounded-corners($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

//absolute center
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//placeholder text in field
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}
}
@include placeholder {
	color: $normalText;
	opacity: 0.5;
}

body{
	background: #F8F9FB;
	font: 14px/22px 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $normalText;
	-webkit-font-smoothing: antialiased;
}

p{
	margin-bottom: 30px;
}

a, a:focus{
	color: $green;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	outline: none!important;
	&:hover{
		color: darken($green, 10%);
		text-decoration: none;
	}
	&.linkRed{
		color: $red;
		&:hover{
			color: darken($red, 10%);
			text-decoration: none;
		}
	}
	&.disabled,
	&[disabled]{
		opacity: .5;
		cursor: not-allowed;
	}
}

ul{
	list-style-position: inside;
	padding-left: 0;
	margin-bottom: 30px;
}

.btn{
	display: inline-block;
	padding: 0 18px;
	font-size: 13px;
	line-height: 38px;
	font-weight: 700;
	border: none;
	@include rounded-corners(5px);
	&.disabled,
	&[disabled]{
		opacity: .5;
	}
	&:focus{
		font-weight: 700;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.btn-sm{
	line-height: 30px;
}

.btn-default, .btn-default:focus{
	color: $normalText;
	background: #fff;
	border: 1px solid #ECEDF1;
	&:hover{
		color: $darkText;
		background: #ECEDF1;
		border-color: #ECEDF1;
	}
}

.btn-orange, .btn-orange:focus{
	color: #fff;
	background: $orange;
	border: 1px solid $orange;
	&:hover{
		color: #fff;
		background: darken($orange, 5%);
		border-color: darken($orange, 5%);
	}
}

.btn-green, .btn-green:focus{
	color: #fff;
	background: $green;
	border: 1px solid $green;
	&:hover{
		color: #fff;
		background: darken($green, 5%);
		border-color: darken($green, 5%);
	}
}

.btn-red, .btn-red:focus{
	color: #fff;
	background: $red;
	border: 1px solid $red;
	&:hover{
		color: #fff;
		background: darken($red, 5%);
		border-color: darken($red, 5%);
	}
}

.btn-green-stroke, .btn-green-stroke:focus{
	color: $green;
	background: none;
	border: 1px solid $green;
	&:hover{
		color: #fff;
		background: darken($green, 5%);
		border-color: darken($green, 5%);
	}
}

.btnFullWidth{
	width: 100%;
}

h1, h2, h3, h1 a, h2 a, h3 a, h1 a:focus, h2 a:focus, h3 a:focus{
	margin-bottom: 30px;
	margin-top: 0;
	color: $darkText;
	font-weight: 500;
	line-height: $lineHeight;
}

h1 a:hover, h2 a:hover, h3 a:hover{
	color: lighten($darkText, 20%);
	text-decoration: none;
}

h1{
	font-size: 24px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 14px;
	line-height: 20px;
}

.hidden{
	display: none;
}

.clear{
	clear: both;
}

a:focus, :focus, input:focus { outline: none; text-decoration: none;}
input::-moz-focus-inner { border: 0; }

input{
	-webkit-appearance: none;
}

.letterAvatar{
	background: #E9EBEF;
	color: $normalText;
	text-align: center;
	font-weight: 700;
	display: block;
}

.letterAvatar32{
	width: 32px;
	height: 32px;
	font-size: 11px;
	line-height: 32px;
}

.letterAvatar100{
	width: 100px;
	height: 100px;
	font-size: 22px;
	line-height: 100px;
}

.dropdown > a{
	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 400;
	.arrowDown{
		display: block;
		width: 12px;
		height: 8px;
		float: right;
		margin-left: 10px;
		text-indent: -10000px;
		background: url("../images2/arrowDown.svg") no-repeat;
		opacity: .5;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
	}
	&:hover .arrowDown{
		opacity: 1;
	}
}

.dropdown-menu{
	margin: 3px 0 0;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	@include rounded-corners(5px);
	border: none;
	> li > a{
		font-size: 13px;
		font-weight: 500;
		line-height: 20px;
		color: $normalText;
		padding: 5px 20px;
		&:hover{
			color: $darkText;
			background: none;
			background: #F8F9FB;
		}
	}
}

.searchResultsDrop{
	position: absolute;
	width: 100%;
	li a{
		display: block;
		padding: 10px 20px;
		white-space: normal;
		h3{
			margin-bottom: 0;
		}
	}
}

.bootstrap-select{
	margin-bottom: 30px;
	.btn{
		margin-bottom: 0;
		&:focus{
			font-weight: 400;
		}
	}
}

.nav>li>a:focus{
	background: none;
}

.nav-tabs{
	border: none;
	> li{
		margin: 0 30px 0 0;
		> a{
			font-size: 12px;
			line-height: 46px;
			color: #fff;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0;
			opacity: .5;
			border: none;
			border-bottom: 2px solid transparent;
			&:hover{
				background: none;
				opacity: 1;
				border-bottom: 2px solid transparent;
			}
		}
	}
	> li.active > a,
	> li.active > a:focus,
	> li.active > a:hover{
		color: #fff;
		background: none;
		opacity: 1;
		border: none;
		border-bottom: 2px solid $orange;
	}
}

.whiteBar{
	width: 100%;
	margin-bottom: 30px;
	padding: 2px 0;
	background: #fff;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	.whiteBarContent{
		display: flex;
		justify-content: space-between;
		height: 46px;
	}
}

.breadcrumb{
	padding: 0;
	margin-top: -10px;
	margin-bottom: 30px;
	background: none;
	font-size: 12px;
	a{
		font-weight: 400;
		color: $lightText;
		&:hover{
			color: $green;
		}
	}
}

.mandatoryFlow{
	padding-bottom: 35px;
}

.whiteBox{
	margin-bottom: 30px;
	padding: 30px 30px 0 30px;
	background: #fff;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	@include rounded-corners(5px);
	&.summaryCompetence,
	&.messagesPane,
	&.activityLinksBox,
	&.activityFilesBox,
	&.activityResultBox,
	&.profileNotifications{
		padding: 0;
		.innerWrapper{
			padding: 30px 30px 0 30px;
		}
	}
	.mandatoryFlow &{
		margin-bottom: 15px;
	}
	&.activityTextBox{
		padding-bottom: 1px;
	}
	&.settingsEmailNotifications{
		padding-bottom: 30px;
	}
}

.mandatoryArrow{
	height: 14px;
	margin-bottom: 15px;
	background: url("../images2/mandatoryArrow.svg") no-repeat center center;
}

.madeByUser,
.madeByUniversity{
	width: 20px;
	height: 20px;
	display: block;
	text-indent: -10000px;
}

.madeByUser{
	background: url("../images2/iconUser20.svg") no-repeat;
}

.madeByUniversity{
	background: url("../images2/iconUniversity20.svg") no-repeat;
}

.duration,
.mandatoryTag{
	height: 20px;
	padding-left: 30px;
	font-size: 13px;
	color: $lightText;
}

.duration{
	background: url("../images2/iconClock20.svg") no-repeat;
}

.mandatoryTag{
	background: url("../images2/iconMandFlow20.svg") no-repeat;
}

.tooltip-inner{
	background: #1e1e1e;
	padding: 15px;
	font-size: 13px;
	font-weight: 500;
}

.tooltip.top .tooltip-arrow{
	border-top-color: #1e1e1e;
}

.progressBar{
	display: flex;
	font-size: 13px;
	align-items: center;
	.progress{
		width: 100px;
		height: 4px;
		margin-left: 10px;
		margin-bottom: 0;
		@include rounded-corners(2px);
		background-color: #F5F5F7;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		.progress-bar{
			background-color: $orange;
			@include rounded-corners(2px);
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}
}

.sortDrop,
.showDrop{
	display: flex;
	line-height: 30px;
	padding: 8px 0;
	color: $lightText;
	> a{
		margin-left: 10px;
		color: $normalText;
	}
}

.tagCompleted{
	color: $green;
	font-size: 13px;
	font-weight: 600;
	padding-left: 30px;
	line-height: 32px;
	background: url("../images2/iconCheck20Green.svg") no-repeat left center;
}

.check{
	display: block;
	width: 20px;
	height: 20px;
	background: url("../images2/iconCheck20Green.svg") no-repeat;
}

.iconType{
	display: block;
	width: 20px;
	height: 20px;
}

.activityVideo .iconType{
	background: url("../images2/iconVideo20.svg") no-repeat;
}
.activityText .iconType{
	background: url("../images2/iconText20.svg") no-repeat;
}
.activitySlide .iconType{
	background: url("../images2/iconSlide20.svg") no-repeat;
}
.activityExternal .iconType{
	background: url("../images2/iconExternal20.svg") no-repeat;
}

.editOptions{
	display: flex;
	align-items: center;
	.linkEdit{
		margin-right: 10px;
	}
	.moveUp,
	.moveDown{
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 10px;
		text-indent: -10000px;
		opacity: .5;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		&.disabled,
		&[disabled]{
			opacity: .2!important;
		}
		&:hover{
			opacity: 1;
		}
	}
	.moveUp{
		background: url("../images2/arrowUp.svg") no-repeat center center;
	}
	.moveDown{
		background: url("../images2/arrowDown.svg") no-repeat center center;
	}
}

.paginationWrapper{
	display: flex;
	justify-content: center;
	.pagination{
		margin: 0 0 30px 0;
		li{
			display: inline-block;
			float: left;
			margin: 0 5px;
			line-height: 30px;
			a{
				display: inline-block;
				min-width: 30px;
				line-height: 30px;
				padding: 0;
				font-size: 13px;
				font-weight: 500;
				color: $lightText;
				text-align: center;
				background: none;
				border: none;
				@include rounded-corners(5px);
				&:hover{
					color: $darkText;
					background: none;
				}
			}
			&.active a,
			&.active a:hover{
				color: $darkText;
				background: #EDEFF1;
			}
		}
	}
}

.tags{
	margin-bottom: 30px;
	padding: 0;
	li{
		display: inline-block;
		margin: 0 10px 10px 0;
		a{
			display: inline-block;
			padding: 0 10px;
			line-height: 28px;
			background: #E9EBEF;
			@include rounded-corners(5px);
			color: $normalText;
			font-weight: 400;
			font-size: 13px;
			&:hover{
				color: $darkText;
			}
		}
	}
}

.user32{
	display: flex;
	height: 32px;
	align-items: center;
	img, .letterAvatar32{
		margin-right: 10px;
	}
	h3{
		margin: 0;
	}
}

.messageMenu,
.optMoreMenu{
	width: 20px;
	height: 20px;
	> a{
		display: block;
		width: 20px;
		height: 20px;
		text-indent: -10000px;
		background: url("../images2/iconMore20.svg") no-repeat;
		opacity: .5;
		&:hover{
			opacity: 1;
		}
	}
}

.modal-content{
	border: none;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	@include rounded-corners(5px);
	.modal-header{
		border: none;
		padding: 30px;
		text-align: center;
		position: relative;
		&.alignLeft{
			text-align: left;
		}
		.modal-title{
			margin: 0;
		}
		.close{
			position: absolute;
			top: 6px;
			right: 10px;
		}
		.summaryCard &,
		.publishBox &{
			h2{
				float: none;
			}
		}
	}
	.modal-body{
		padding: 0 30px;
		text-align: center;
		&.alignLeft{
			text-align: left;
		}
		small{
			color: $lightText;
		}
	}
	.modal-footer{
		border: none;
		padding: 0 30px 30px 30px;
		text-align: center;
		&.alignLeft{
			text-align: left;
		}
		.btn+.btn{
			margin-left: 10px;
		}
	}
}
#askAssessment{
	.assessmentModalMeta{
		background: #F8F9FB;
		border-top: 1px solid #EEEFF3;
		border-bottom: 1px solid #EEEFF3;
		display: flex;
		flex-direction: column;
		padding: 0 30px;
		.assessmentModalMetaLine{
			display: flex;
			padding-top: 10px;
			&:last-child{
				padding-bottom: 10px;
			}
			.assessmentModalMetaLeft,
			.assessmentModalMetaRight{
				display: flex;
				line-height: 32px;
				align-items: center;
				h3{
					margin: 0;
				}
			}
			.assessmentModalMetaLeft{
				width: 80px;
			}
			.assessmentModalMetaRight img{
				margin-right: 10px;
			}
		}
	}
	.modal-body textarea{
		width: 100%;
		height: 100px;
		margin-top: 20px;
		padding: 0;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

#uploadFile, #addURL{
	.modal-body{
		padding-bottom: 10px;
		input[type="text"]{
			margin-bottom: 20px;
		}
		.chooseFileBox{
			display: flex;
			align-items: center;
			padding-bottom: 20px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}

.alert{
	border: none;
	@include rounded-corners(5px);
}

.alert-success,
.alert-info,
.alert-warning,
.alert-danger{
	color: #fff;
}

.alert-success{
	background: #87BA54;
}

.alert-info{
	background: #5197D8;
}

.alert-warning{
	background: #F2B24F;
}

.alert-danger{
	background: #E45E5E;
}

/*--- FORM ELEMENTS ---*/

input[type="text"],
input[type="email"],
input[type="password"],
textarea{
	background: #fff;
	border: 1px solid #E6E7EC;
	@include rounded-corners(5px);
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	&.inputError{
		border: 1px solid $red;
		margin-bottom: 5px!important;
	}
}

input[type="text"],
input[type="email"],
input[type="password"]{
	line-height: 30px;
	padding: 5px 10px;
}

button{
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

textarea{
	height: auto;
	padding: 10px;
	resize: none;
}

.inputErrorInfo{
	display: block;
	color: $red;
	margin-bottom: 20px;
}

.formWrapper{
	.formLine{
		display: flex;
		padding-bottom: 30px;
		> label{
			min-width: 170px;
			font-weight: 600;
			color: $darkText;
			line-height: 40px;
		}
		.formLineRight{
			flex-grow: 1;
			input[type="text"],
			textarea{
				width: 100%;
			}
			textarea{
				height: 100px;
				&.textareaBig{
					height: 300px;
				}
			}
			.bootstrap-select,
			p{
				margin-bottom: 0;
			}
		}
	}
}

.bootstrap-tagsinput{
	background-color: #fff;
	border: 1px solid #E6E7EC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.1);
	display: inline-block;
	line-height: 30px;
	padding: 5px 10px;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
	line-height: 22px;
	cursor: text;
}
.bootstrap-tagsinput input {
	border: none!important;
	box-shadow: none!important;
	outline: none;
	background-color: transparent;
	line-height: 30px;
	padding: 0!important;
	margin: 0;
	width: auto!important;
	max-width: inherit;
}

.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}
.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: $normalText;
	background: #E9EBEF;
	line-height: 30px;
	padding: 5px;
	font-size: 13px;
	font-weight: 400;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	color: $normalText;
	padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {

}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {

}

/*---------------------------------------------------------------------*/
/*--- 02. HEADER ---*/
/*---------------------------------------------------------------------*/

header{
	width: 100%;
	background: #444C5A;
	-webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.10);
	box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.10);
	.headerTop{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.headerTopLeft{
			display: flex;
			#logo{
				width: 86px;
				height: 30px;
				margin: 15px 20px 15px 0;
				background: url("../images2/logo.svg") no-repeat;
				text-indent: -10000px;
			}
			nav{
				height: 30px;
				padding: 15px 0;
				.nav > li > a{
					font-size: 12px;
					line-height: 30px;
					color: #fff;
					font-weight: 700;
					text-transform: uppercase;
				}
				.nav-pills{
					> li{
						margin: 0 10px 0 0;
						> a{
							@include rounded-corners(5px);
							padding: 0 10px;
							opacity: .5;
							&:hover{
								background: none;
								opacity: 1;
							}
						}
					}
					> li.active > a,
					> li.active > a:focus,
					> li.active > a:hover{
						opacity: 1;
						background-color: rgba(0,0,0,.1);
						-webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 1px 0px 0px rgba(0,0,0,.1);
						-moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 1px 0px 0px rgba(0,0,0,.1);
						box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 1px 0px 0px rgba(0,0,0,.1);
					}
				}
			}
		}
		.headerTopRight{
			display: flex;
			height: 32px;
			padding: 14px 0;
			.iconMessages,
			.iconNotifications{
				display: block;
				width: 20px;
				height: 20px;
				margin: 6px 0 0 0;
				opacity: .5;
				text-indent: -10000px;
				position: relative;
				&:hover{
					opacity: 1;
				}
				&.active{
					opacity: 1;
					.unreadDot{
						display: block;
						position: absolute;
						width: 8px;
						height: 8px;
						background: url("../images2/unreadDot.svg") no-repeat;
						top: 0;
						right: -2px;
					}
				}
			}
			.iconMessages{
				background: url("../images2/iconEnvelope20White.svg") no-repeat;
				margin-right: 20px;
			}
			.iconNotifications{
				background: url("../images2/iconBell20White.svg") no-repeat;
			}
			.createMenu{
				height: 32px;
				margin-right: 20px;
				> a{
					margin: 0;
					font-weight: 700;
				}
			}
			.notificationsMenu{
				height: 32px;
				margin-right: 20px;
				.dropdown-menu{
					width: 280px;
					padding-bottom: 0;
					li{
						border-bottom: 1px solid #EEEFF3;
						padding: 10px 20px;
						position: relative;
						.icon{
							display: block;
							position: absolute;
							top: 10px;
							left: 20px;
							width: 20px;
							height: 20px;
						}
						.line01,
						.line02{
							padding-left: 30px;
						}
						.line02{
							font-size: 12px;
							color: $lightText;
						}
						a{
							white-space: normal;
							color: $darkText;
							&:hover{
								color: lighten($darkText, 20%);
								text-decoration: none;
							}
						}
					}
					.linkAllNotifications{
						text-align: center;
						border-bottom: none;
						a{
							display: inline;
							padding: 0;
							&:hover{
								background: none;
							}
						}
					}
				}
			}

			.userMenu{
				height: 32px;
				> a{
					width: 54px;
					height: 32px;
					.arrowDown{
						background: url("../images2/arrowDownWhite.svg") no-repeat;
					}
				}
				.dropdown-menu{
					right: -10px;
				}
			}
		}
	}
	h1{
		color: #fff;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.headerSubmenu{
		margin-top: -20px;
	}
}

/*---------------------------------------------------------------------*/
/*--- 03. MAIN  ---*/
/*---------------------------------------------------------------------*/

.loginBox{
	width: 400px;
	margin: 70px auto 0 auto;
	.logo{
		width: 143px;
		height: 50px;
		margin: 0 auto 20px auto;
		background: url("../images2/logo-black.svg") no-repeat;
		text-indent: -10000px;
	}
	.whiteBox{
		margin-bottom: 20px;
		.loginTop{
			text-align: center;
			.buttonBox a{
				margin-bottom: 20px;
				width: 100%;
				height: 40px;
				line-height: 22px;
				padding: 10px 0;
				display: flex;
				justify-content: center;
				color: $normalText;
				@include rounded-corners(5px);
				-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);
				background: #ffffff;
				background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 100%);
				background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 100%);
				background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
				&:hover{
					color: $darkText;
					background: #fff;
				}
				span{
					height: 20px;
					display: inline-block;
					margin-right: 10px;
				}
				&.btnGoogle span{
					width: 19px;
					background: url("../images2/loginGoogle.svg") no-repeat center center;
				}
				&.btnedX span{
					width: 43px;
					background: url("../images2/loginedX.svg") no-repeat;
				}
			}
			.loginSeparator{
				width: 100%;
				height: 20px;
				margin-bottom: 30px;
				background: url("../images2/loginSeparator.svg") no-repeat center 11px;
				span{
					padding: 0 10px;
					background: #fff;
				}
			}
		}
		input{
			width: 100%;
			margin-bottom: 20px;
		}
		.loginOpt{
			display: flex;
			justify-content: space-between;
			height: 41px;
			margin-bottom: 10px;
			align-items: center;
		}
		.bottomLine{
			text-align: center;
			font-size: 12px;
			padding-bottom: 30px;
		}
		.btn{
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.loginFooter{
		text-align: center;
		font-size: 12px;
		ul{
			list-style: none;
			margin-bottom: 0;
			li{
				padding: 0 10px;
				display: inline;
			}
		}
	}
	.registerForm{
		input[type="password"]{
			margin-bottom: 5px;
		}
		small{
			display: block;
			line-height: 16px;
			margin-bottom: 20px;
		}
	}
}

.whiteBarContent{
	.whiteBarLeft{
		display: flex;
		align-items: center;
		.searchBox{
			height: 46px;
			padding-left: 30px;
			background: url("../images2/iconSearch20.svg") no-repeat left center;
			input{
				width: 300px;
				line-height: 32px;
				padding: 8px 0;
				border: none;
			}
		}
		.item{
			margin-right: 30px;
		}
		.progressBar{
			margin-left: 20px;
		}
	}
	.whiteBarRight{
		display: flex;
		align-items: center;
		.item{
			margin-left: 30px;
		}
	}
}

.pageSubmenu{
	margin-top: -28px;
	> li > a{
		color: $lightText;
		opacity: 1;
		&:hover{
			color: $darkText;
		}
	}
	> li.active > a,
	> li.active > a:focus,
	> li.active > a:hover{
		color: $darkText;
		border-bottom: 2px solid $orange;
	}
}

.innerSubmenu{
	display: flex;
	background: #F8F9FB;
	border: 1px solid #E6E7EC;
	height: 40px;
	@include rounded-corners(5px);
	> li{
		margin: 0;
		flex-grow: 1;
		&:first-child a{
			border-left: 0 !important;
			border-radius: 4px 0px 0px 4px;
			-moz-border-radius: 4px 0px 0px 4px;
			-webkit-border-radius: 4px 0px 0px 4px;
		}
		&:last-child a{
			border-right: 0 !important;
			border-radius: 0px 4px 4px 0px;
			-moz-border-radius: 0px 4px 4px 0px;
			-webkit-border-radius: 0px 4px 4px 0px;
		}
		> a{
			color: $lightText;
			opacity: 1;
			line-height: 38px;
			border: none;
			margin: 0;
			text-align: center;
			@include rounded-corners(0px);
			&:hover{
				color: $darkText;
				border: none;
			}
		}
	}
	> li.active > a,
	> li.active > a:focus,
	> li.active > a:hover{
		color: $darkText;
		border-left: 1px solid #E6E7EC;
		border-right: 1px solid #E6E7EC;
		border-bottom: 0;
		background: #fff;
	}
}

.summaryCard{
	position: relative;
	h2{
		float: left;
		margin-top: 0;
		margin-bottom: 20px;
		span{
			color: $lightText;
		}
	}
	.metaBox{
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;
		.metaLeft{
			display: flex;
			.progressBar{
				height: 32px;
				margin-left: 20px;
			}
			.linkRed{
				margin-left: 20px;
				line-height: 32px;
			}
		}
		.metaRight{
			display: flex;
			padding: 6px 0;
			.duration{
				margin-left: 20px;
			}
		}
	}
	.editOptions{
		float: right;
		margin-top: 4px;
	}
	.bookmarkStar{
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		text-indent: -10000px;
		top: 30px;
		right: 30px;
		visibility: hidden;
		background: url("../images2/iconStar20Gray.svg") no-repeat;
		transition: none;
		-webkit-transition: none;
		&.active,
		&:hover{
			visibility: visible;
			background: url("../images2/iconStar20Yellow.svg") no-repeat;
		}
	}
	&:hover .bookmarkStar{
		visibility: visible;
	}
	.collapseActivityList{
		.collapseButton{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;
			line-height: 40px;
			border-top: 1px solid #EEEFF3;
			span{
				transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
				color: $lightText;
				font-weight: 400;
			}
			.arrowUp,
			.arrowDown{
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-left: 10px;
				text-indent: -10000px;
				opacity: .5;
				transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
			}
			&:hover{
				span{
					color: $normalText;
				}
				.arrowUp,
				.arrowDown{
					opacity: 1;
				}
			}
			.arrowUp{
				background: url("../images2/arrowUp.svg") no-repeat center center;
			}
			.arrowDown{
				background: url("../images2/arrowDown.svg") no-repeat center center;
			}
			.textShow,
			.arrowDown{
				display: none;
			}
			.textHide,
			.arrowUp{
				display: inline-block;
			}
			&.collapsed{
				.textShow,
				.arrowDown{
					display: inline-block;
				}
				.textHide,
				.arrowUp{
					display: none;
				}
			}
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				.iconType{
					float: left;
					margin-right: 20px;
				}
				&.noLink{
					display: block;
					line-height: 20px;
					padding: 10px 30px;
					background: #F8F9FB;
					border-top: 1px solid #EEEFF3;
				}
				a{
					display: block;
					line-height: 20px;
					padding: 10px 30px;
					font-weight: 400;
					color: $normalText;
					background: #F8F9FB;
					border-top: 1px solid #EEEFF3;
					&:hover{
						color: $darkText;
					}
					.check{
						float: right;
						margin-left: 30px;
					}
				}
			}
		}
	}
}

.newCompetenceBox{
	display: flex;
	height: 180px;
	margin-bottom: 105px;
	padding-top: 30px;
	border: 1px dashed #D5D8DA;
	@include rounded-corners(5px);
	justify-content: center;
	align-items: center;
	.elementsWrapper{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		.btn{
			margin-bottom: 30px;
		}
		span{
			line-height: 40px;
			margin: 0 20px;
			color: $lightText;
		}
		.elementsRight{
			display: flex;
			flex-direction: column;
			position: relative;
			input{
				width: 300px;
				margin-bottom: 8px;
			}
			.searchResultsDrop{
				top: 41px;
			}
		}
	}
}

.activitiesList{
	padding: 0;
	.activityItem{
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 0 30px;
		border-bottom: 1px solid #EEEFF3;
		.check,
		.iconType,
		.iconPlus{
			margin-right: 20px;
			flex-shrink: 0;
		}
		h3{
			flex-grow: 1;
			margin: 0 10px 0 0;
		}
		.editOptions{
			flex-shrink: 0;
			.optMoreMenu{
				margin-right: 10px;
			}
		}
		.duration{
			flex-shrink: 0;
		}
		&.addActivity{
			line-height: 60px;
			border: none;
			.iconPlus{
				display: block;
				width: 20px;
				height: 20px;
				background: url("../images2/iconPlus20.svg") no-repeat;
				opacity: .5;
				transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
			}
			&:hover .iconPlus{
				opacity: 1;
			}
		}
		&:last-child{
			border-bottom: none;
		}
	}
}

.competenceProgressList{
	list-style: none;
	padding: 0;
	li{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		.check,
		.iconType{
			margin-right: 20px;
			flex-shrink: 0;
		}
		h3{
			margin: 0;
			a{
				color: $normalText;
				&:hover{
					color: $darkText;
				}
			}
		}
		&.active h3 a{
			color: $darkText;
		}
	}
}

.formLineRight{
	.addedItems{
		padding: 10px 0 2px 0;
		margin-bottom: 10px;
		list-style: none;
		li{
			margin-bottom: 10px;
			h3{
				float: left;
				margin: 0;
			}
			a{
				word-break: break-word;
			}
			.removeX{
				float: right;
				width: 12px;
				height: 12px;
				margin-top: 5px;
				display: block;
				text-indent: -10000px;
				background: url("../images2/removeX.svg") no-repeat;
			}
		}
	}
}

.publishBox{
	padding-bottom: 30px;
	h2{
		float: left;
	}
	.checkLine{
		margin-bottom: 20px;
	}
	.linkPreview{
		float: right;
		margin-top: 4px;
	}
	.publishRow{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.estimatedTime{
		> p{
			margin-bottom: 10px;
		}
		.selectRow{
			display: flex;
			align-items: center;
			.bootstrap-select{
				width: 70px !important;
				margin-right: 10px;
			}
			.pickMinutes{
				margin-left: 10px;
			}
		}
	}
}

.activityMain{
	margin-bottom: 30px;
}

.activityLinksBox,
.activityFilesBox,
.activityResultBox{
	list-style: none;
	li{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		padding: 0 30px 0 70px;
		border-bottom: 1px solid #EEEFF3;
		&:last-child{
			border: none;
		}
		h3{
			margin-bottom: 10px;
		}
		.actBoxLeft > span,
		.deleteLink{
			font-size: 12px;
		}
		a{
			width: 100px;
		}
	}
}

.activityLinksBox li{
	background: url("../images2/iconLink20.svg") no-repeat 30px center;
}

.activityFilesBox li{
	background: url("../images2/iconFile20.svg") no-repeat 30px center;
}

.activityResultBox li{
	background: url("../images2/iconResult20.svg") no-repeat 30px center;
}

.uploadResultBox{
	display: flex;
	flex-direction: column;
	height: 160px;
	margin-bottom: 30px;
	border: 1px dashed #D5D8DA;
	@include rounded-corners(5px);
	justify-content: center;
	align-items: center;
	h3, p{
		margin-bottom: 10px;
	}
}

.discussion{
	h2{
		display: inline-block;
	}
	.sortDrop{
		float: right;
		padding: 0;
	}
	img,
	.letterAvatar{
		margin: 9px 20px 0 0;
	}
	.addComment{
		display: flex;
		margin-bottom: 30px;
	}
	.commentForm,
	.editComment{
		width: 100%;
		textarea{
			float: left;
			width: 100%;
			height: 50px;
			padding: 15px;
		}
		.btn{
			margin: 15px 10px 0 0;
		}
	}
	.commentForm{
		min-height: 50px;
	}
	.editComment{
		padding-bottom: 20px;
	}
	.comments{
		padding-bottom: 30px;
		ul{
			margin-bottom: 30px;
		}
		.media-left, .media>.pull-left{
			padding: 0;
		}
		.media-body{
			padding-top: 16px;
			&.replyComment{
				padding-top: 0;
			}
			.commentMain{
				position: relative;
				h3{
					margin-bottom: 10px;
					position: relative;
					span{
						display: inline-block;
						margin-left: 10px;
						font-size: 11px;
						border: 1px solid $orange;
						height: 20px;
						padding: 0 5px;
						color: $orange;
						@include rounded-corners(5px);
					}
				}
				.commentTime{
					position: absolute;
					top: 0;
					right: 0;
					font-size: 12px;
					color: $lightText;
					display: none;
				}
				&:hover > .commentTime{
					display: block;
				}
				p{
					margin-bottom: 10px;
				}
				.commentOptions{
					display: flex;
					a{
						display: flex;
						align-items: center;
						color: $normalText;
						font-weight: 400;
						font-size: 13px;
						margin-right: 20px;
						.icon{
							display: inline-block;
							width: 12px;
							height: 12px;
							margin-right: 5px;
							margin-bottom: 2px;
							#triangle{
								transition: all 0.2s ease;
								-webkit-transition: all 0.2s ease;
							}
						}
						&.reply{
							.icon{
								background: url("../images2/iconReply12.svg") no-repeat;
								opacity: .5;
								transition: all 0.2s ease;
								-webkit-transition: all 0.2s ease;
							}
							&:hover .icon{
								opacity: 1;
							}
						}
						&.edit{
							.icon{
								background: url("../images2/iconEdit12.svg") no-repeat;
								opacity: .5;
								transition: all 0.2s ease;
								-webkit-transition: all 0.2s ease;
							}
							&:hover .icon{
								opacity: 1;
							}
						}
						&:hover{
							color: $darkText;
							#triangle{
								fill: $orange;
							}
						}
						&.liked{
							#triangle{
								fill: $orange;
							}
						}
					}
				}
			}
		}
	}
}

.twitterBtnBox{
	padding-top: 20px;
	.btnTwitterConnect, .btnTwitterConnect:focus{
		float: left;
		margin-right: 10px;
		color: #fff;
		background: #55ACEE;
		border: 1px solid #55ACEE;
		&:hover{
			color: #fff;
			background: darken(#55ACEE, 5%);
			border-color: darken(#55ACEE, 5%);
		}
		span{
			float: left;
			margin: 8px 10px 0 0;
			display: inline-block;
			width: 16px;
			height: 13px;
			background: url("../images2/iconTwitter.svg") no-repeat;
		}
	}
	small{
		line-height: 16px;
		display: block;
	}
}

.yourPhotoContent{
	display: flex;
	padding-bottom: 30px;
	img,
	.letterAvatar{
		margin-right: 20px;
	}
	.chooseBtnBox{
		.btn{
			margin-bottom: 20px;
		}
	}
}

.settingsEmailNotifications .checkLine{
	margin-bottom: 20px;
}

.settingsChangePassword .formLine{
	width: 400px;
}

.messagesListHead{
	height: 50px;
	.showDrop{
		float: left;
		padding: 10px 0;
		> a{
			margin: 0;
			font-size: 13px;
		}
		.dropdown-menu{
			top: 40px;
		}
	}
	.newMessageBtn{
		float: right;
		height: 30px;
		line-height: 30px;
		margin-top: 10px;
		font-size: 13px;
		span{
			width: 12px;
			height: 12px;
			float: left;
			margin-right: 10px;
			margin-top: 8px;
			opacity: .5;
			background: url("../images2/iconEdit12.svg") no-repeat;
			transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
		}
		&:hover span{
			opacity: 1;
		}
	}
}

.messagesList{
	ul{
		list-style: none;
		padding: 0;
		border-top: 1px solid #ECEDF1;
		li{
			position: relative;
			height: 68px;
			padding: 16px 8px;
			border-bottom: 1px solid #ECEDF1;
			border-left: 2px solid #F8F9FB;
			&.active{
				border-left: 2px solid $orange;
			}
			.media{
				margin: 0;
				.media-body{
					h3{
						float: left;
						margin-top: 0;
						margin-bottom: 0;
						line-height: 20px;
					}
					span{
						float: right;
						margin-top: 0;
						font-size: 12px;
						line-height: 20px;
						color: $lightText;
					}
					p{
						font-size: 13px;
						margin: 0;
						line-height: 20px;
					}
				}
			}
			.unread{
				display: block;
				position: absolute;
				width: 8px;
				height: 8px;
				background: url("../images2/unreadDot.svg") no-repeat;
				top: 42px;
				right: 8px;
			}
			&.unreadMessage .unread{
				display: block!important;
			}
		}
	}
	.noMessagesList{
		border-top: 1px solid #ECEDF1;
		text-align: center;
		padding-top: 30px;
		font-size: 13px;
	}
}

.messageColumn{
	display: flex;
	/* set height based on browser height */
	.messagesPane{
		width: 100%;
		&.noSelected{
			min-height: 300px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			> h2{
				color: $lightText;
			}
		}
		.messagePaneHead{
			position: relative;
			display: flex;
			height: 60px;
			justify-content: space-between;
			> h2{
				float: left;
				margin: 18px 0 0 30px;
			}
			.messageMenu{
				float: right;
				margin: 20px 30px;
			}
			.linkApprove{
				line-height: 24px;
				margin: 18px 30px 0 0;
				color: $lightText;
				font-size: 13px;
				span{
					width: 24px;
					height: 24px;
					display: block;
					float: right;
					margin-left: 10px;
					background: url("../images2/icon-approve.svg") no-repeat;
					transition: all 0.2s ease;
					-webkit-transition: all 0.2s ease;
				}
				&:hover,
				&.approved{
					color: $normalText;
					span{
						background: url("../images2/icon-approved.svg") no-repeat;
					}
				}
			}
			.toBox{
				display: inline-block;
				line-height: 60px;
				width: 20px;
				margin: 0 10px 0 30px;
			}
			input[type="text"]{
				width: 100%;
				border: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				color: $darkText;
				font-weight: 500;
			}
			.searchResultsDrop{
				top: 60px;
				li a{
					height: 52px;
					img,
					.letterAvatar{
						float: left;
						margin-right: 15px;
					}
					h3{
						margin: 7px 0 0 0;
					}
				}
			}
		}
		.greyBar{
			padding: 1px 30px;
			background: #F8F9FB;
			border-top: 1px solid #EEEFF3;
			border-bottom: 1px solid #EEEFF3;
			.assessmentModalMetaLine{
				display: flex;
				padding-top: 10px;
				&:last-child{
					padding-bottom: 10px;
				}
				.assessmentModalMetaLeft,
				.assessmentModalMetaRight{
					display: flex;
					line-height: 32px;
					align-items: center;
					h3{
						margin: 0;
					}
				}
				.assessmentModalMetaLeft{
					width: 80px;
				}
				.assessmentModalMetaRight img{
					margin-right: 10px;
				}
			}
		}
		.media{
			.media-body{
				h3{
					float: left;
					margin-top: 7px;
				}
				span{
					float: right;
					margin-top: 7px;
					font-size: 12px;
					color: $lightText;
				}
				p{
					margin-bottom: 20px;
				}
			}
		}
		.newMessagesSeparator{
			height: 20px;
			line-height: 20px;
			font-size: 10px;
			font-weight: 500;
			text-transform: uppercase;
			color: $orange;
			background: url("../images2/newMessagesLine.svg") no-repeat 85px 9px;
		}
		.typeBox{
			min-height: 32px;
			padding: 20px 30px;
			.media-body > div{
				display: flex;
				justify-content: space-between;
				.btn{
					height: 32px;
					margin-left: 10px;
				}
				textarea{
					width: 100%;
					height: 32px;
					padding: 5px 0;
					border: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
				}
			}
		}
	}
}

.profileNotifications{
	ul{
		list-style: none;
		li{
			display: flex;
			height: 90px;
			padding: 0 30px;
			align-items: center;
			border-bottom: 1px solid #EEEFF3;
			&:last-child{
				border: none;
				flex-shrink: 0;
			}
			.icon{
				display: block;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				flex-shrink: 0;
			}
			img, .letterAvatar{
				margin-right: 10px;
				flex-shrink: 0;
			}
			p{
				margin: 0;
				flex-grow: 1;
			}
			.timestamp{
				font-size: 12px;
				color: $lightText;
				margin-left: 10px;
				width: 100px;
				flex-shrink: 0;
				text-align: right;
			}
		}
	}
}

.checkLinks{
	padding-bottom: 30px;
	span{
		margin: 0 7px;
	}
}

.notifFollowed .icon{
	background: url("../images2/iconNotifFollowed20.svg") no-repeat;
}

.notifComment .icon{
	background: url("../images2/iconNotifComment20.svg") no-repeat;
}

.notifLikeComment .icon{
	background: url("../images2/iconNotifLikeComment20.svg") no-repeat;
}

.notifLearning .icon{
	background: url("../images2/iconNotifLearning20.svg") no-repeat;
}

.notifMention .icon{
	background: url("../images2/iconNotifMention20.svg") no-repeat;
}

/*---------------------------------------------------------------------*/
/*--- 04. MANAGER ---*/
/*---------------------------------------------------------------------*/

#manage{
	header{
		background: #3A3C3C;
		#logo{
			background: url("../images2/logo-manage.svg") no-repeat;
		}
	}
}

/*---------------------------------------------------------------------*/
/*--- 05. FOOTER ---*/
/*---------------------------------------------------------------------*/

footer{

}
