/*
TABLE OF CONTENTS:
01. General
02. Header
03. Main
04. Footer
05. Media Queries
*/
/*---------------------------------------------------------------------*/
/*--- 01. GENERAL ---*/
/*---------------------------------------------------------------------*/
/* line 42, style.scss */
::-webkit-input-placeholder {
  color: #859095;
  opacity: 0.5; }

/* line 43, style.scss */
:-moz-placeholder {
  color: #859095;
  opacity: 0.5; }

/* line 44, style.scss */
::-moz-placeholder {
  color: #859095;
  opacity: 0.5; }

/* line 45, style.scss */
:-ms-input-placeholder {
  color: #859095;
  opacity: 0.5; }

/* line 52, style.scss */
body {
  background: #F8F9FB;
  font: 14px/22px 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #859095;
  -webkit-font-smoothing: antialiased; }

/* line 59, style.scss */
p {
  margin-bottom: 30px; }

/* line 63, style.scss */
a, a:focus {
  color: #64BFCD;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }
  /* line 69, style.scss */
  a:hover, a:focus:hover {
    color: #3eafc0;
    text-decoration: none; }
  /* line 73, style.scss */
  a.linkRed, a:focus.linkRed {
    color: #E45E5E; }
    /* line 75, style.scss */
    a.linkRed:hover, a:focus.linkRed:hover {
      color: #dd3232;
      text-decoration: none; }
  /* line 80, style.scss */
  a.disabled, a[disabled], a:focus.disabled, a:focus[disabled] {
    opacity: .5;
    cursor: not-allowed; }

/* line 87, style.scss */
ul {
  list-style-position: inside;
  padding-left: 0;
  margin-bottom: 30px; }

/* line 93, style.scss */
.btn {
  display: inline-block;
  padding: 0 18px;
  font-size: 13px;
  line-height: 38px;
  font-weight: 700;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 101, style.scss */
  .btn.disabled, .btn[disabled] {
    opacity: .5; }
  /* line 105, style.scss */
  .btn:focus {
    font-weight: 700;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 113, style.scss */
.btn-sm {
  line-height: 30px; }

/* line 117, style.scss */
.btn-default, .btn-default:focus {
  color: #859095;
  background: #fff;
  border: 1px solid #ECEDF1; }
  /* line 121, style.scss */
  .btn-default:hover, .btn-default:focus:hover {
    color: #363636;
    background: #ECEDF1;
    border-color: #ECEDF1; }

/* line 128, style.scss */
.btn-orange, .btn-orange:focus {
  color: #fff;
  background: #FCA567;
  border: 1px solid #FCA567; }
  /* line 132, style.scss */
  .btn-orange:hover, .btn-orange:focus:hover {
    color: #fff;
    background: #fc964e;
    border-color: #fc964e; }

/* line 139, style.scss */
.btn-green, .btn-green:focus {
  color: #fff;
  background: #64BFCD;
  border: 1px solid #64BFCD; }
  /* line 143, style.scss */
  .btn-green:hover, .btn-green:focus:hover {
    color: #fff;
    background: #51b7c7;
    border-color: #51b7c7; }

/* line 150, style.scss */
.btn-red, .btn-red:focus {
  color: #fff;
  background: #E45E5E;
  border: 1px solid #E45E5E; }
  /* line 154, style.scss */
  .btn-red:hover, .btn-red:focus:hover {
    color: #fff;
    background: #e04848;
    border-color: #e04848; }

/* line 161, style.scss */
.btn-green-stroke, .btn-green-stroke:focus {
  color: #64BFCD;
  background: none;
  border: 1px solid #64BFCD; }
  /* line 165, style.scss */
  .btn-green-stroke:hover, .btn-green-stroke:focus:hover {
    color: #fff;
    background: #51b7c7;
    border-color: #51b7c7; }

/* line 172, style.scss */
.btnFullWidth {
  width: 100%; }

/* line 176, style.scss */
h1, h2, h3, h1 a, h2 a, h3 a, h1 a:focus, h2 a:focus, h3 a:focus {
  margin-bottom: 30px;
  margin-top: 0;
  color: #363636;
  font-weight: 500;
  line-height: 1.5em; }

/* line 184, style.scss */
h1 a:hover, h2 a:hover, h3 a:hover {
  color: #838383;
  text-decoration: none; }

/* line 189, style.scss */
h1 {
  font-size: 24px; }

/* line 193, style.scss */
h2 {
  font-size: 18px; }

/* line 197, style.scss */
h3 {
  font-size: 14px;
  line-height: 20px; }

/* line 202, style.scss */
.hidden {
  display: none; }

/* line 206, style.scss */
.clear {
  clear: both; }

/* line 210, style.scss */
a:focus, :focus, input:focus {
  outline: none;
  text-decoration: none; }

/* line 211, style.scss */
input::-moz-focus-inner {
  border: 0; }

/* line 213, style.scss */
input {
  -webkit-appearance: none; }

/* line 217, style.scss */
.dropdown > a {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400; }
  /* line 222, style.scss */
  .dropdown > a .arrowDown {
    display: block;
    width: 12px;
    height: 8px;
    float: right;
    margin-left: 10px;
    text-indent: -10000px;
    background: url("../images2/arrowDown.svg") no-repeat;
    opacity: .5;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease; }
  /* line 234, style.scss */
  .dropdown > a:hover .arrowDown {
    opacity: 1; }

/* line 239, style.scss */
.dropdown-menu {
  margin: 1px 0 0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none; }
  /* line 246, style.scss */
  .dropdown-menu > li > a {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #859095;
    padding: 5px 20px; }
    /* line 252, style.scss */
    .dropdown-menu > li > a:hover {
      color: #363636;
      background: none;
      background: #F8F9FB; }

/* line 260, style.scss */
.searchResultsDrop {
  position: absolute;
  width: 100%; }
  /* line 263, style.scss */
  .searchResultsDrop li a {
    display: block;
    padding: 10px 20px;
    white-space: normal; }
    /* line 267, style.scss */
    .searchResultsDrop li a h3 {
      margin-bottom: 0; }

/* line 273, style.scss */
.bootstrap-select {
  margin-bottom: 30px; }
  /* line 275, style.scss */
  .bootstrap-select .btn {
    margin-bottom: 0; }
    /* line 277, style.scss */
    .bootstrap-select .btn:focus {
      font-weight: 400; }

/* line 283, style.scss */
.nav > li > a:focus {
  background: none; }

/* line 287, style.scss */
.nav-tabs {
  border: none; }
  /* line 289, style.scss */
  .nav-tabs > li {
    margin: 0 30px 0 0; }
    /* line 291, style.scss */
    .nav-tabs > li > a {
      font-size: 12px;
      line-height: 46px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;
      opacity: .5;
      border: none;
      border-bottom: 2px solid transparent; }
      /* line 301, style.scss */
      .nav-tabs > li > a:hover {
        background: none;
        opacity: 1;
        border-bottom: 2px solid transparent; }
  /* line 308, style.scss */
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    color: #fff;
    background: none;
    opacity: 1;
    border: none;
    border-bottom: 2px solid #FCA567; }

/* line 319, style.scss */
.whiteBar {
  width: 100%;
  margin-bottom: 30px;
  padding: 2px 0;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15); }
  /* line 327, style.scss */
  .whiteBar .whiteBarContent {
    display: flex;
    justify-content: space-between;
    height: 46px; }

/* line 334, style.scss */
.breadcrumb {
  padding: 0;
  margin-top: -10px;
  margin-bottom: 30px;
  background: none;
  font-size: 12px; }
  /* line 340, style.scss */
  .breadcrumb a {
    font-weight: 400;
    color: #AAB1B5; }
    /* line 343, style.scss */
    .breadcrumb a:hover {
      color: #64BFCD; }

/* line 349, style.scss */
.mandatoryFlow {
  padding-bottom: 35px; }

/* line 353, style.scss */
.whiteBox {
  margin-bottom: 30px;
  padding: 30px 30px 0 30px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 361, style.scss */
  .whiteBox.summaryCompetence, .whiteBox.messagesPane, .whiteBox.activityLinksBox, .whiteBox.activityFilesBox {
    padding: 0; }
    /* line 366, style.scss */
    .whiteBox.summaryCompetence .innerWrapper, .whiteBox.messagesPane .innerWrapper, .whiteBox.activityLinksBox .innerWrapper, .whiteBox.activityFilesBox .innerWrapper {
      padding: 30px 30px 0 30px; }
  /* line 370, style.scss */
  .mandatoryFlow .whiteBox {
    margin-bottom: 15px; }
  /* line 373, style.scss */
  .whiteBox.activityTextBox {
    padding-bottom: 1px; }
  /* line 376, style.scss */
  .whiteBox.settingsEmailNotifications {
    padding-bottom: 30px; }

/* line 381, style.scss */
.mandatoryArrow {
  height: 14px;
  margin-bottom: 15px;
  background: url("../images2/mandatoryArrow.svg") no-repeat center center; }

/* line 387, style.scss */
.madeByUser,
.madeByUniversity {
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -10000px; }

/* line 395, style.scss */
.madeByUser {
  background: url("../images2/iconUser20.svg") no-repeat; }

/* line 399, style.scss */
.madeByUniversity {
  background: url("../images2/iconUniversity20.svg") no-repeat; }

/* line 403, style.scss */
.duration,
.mandatoryTag {
  height: 20px;
  padding-left: 30px;
  font-size: 13px;
  color: #AAB1B5; }

/* line 411, style.scss */
.duration {
  background: url("../images2/iconClock20.svg") no-repeat; }

/* line 415, style.scss */
.mandatoryTag {
  background: url("../images2/iconMandFlow20.svg") no-repeat; }

/* line 419, style.scss */
.tooltip-inner {
  background: #1e1e1e;
  padding: 15px;
  font-size: 13px;
  font-weight: 500; }

/* line 426, style.scss */
.tooltip.top .tooltip-arrow {
  border-top-color: #1e1e1e; }

/* line 430, style.scss */
.progressBar {
  display: flex;
  font-size: 13px;
  align-items: center; }
  /* line 434, style.scss */
  .progressBar .progress {
    width: 100px;
    height: 4px;
    margin-left: 10px;
    margin-bottom: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #F5F5F7;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 444, style.scss */
    .progressBar .progress .progress-bar {
      background-color: #FCA567;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

/* line 454, style.scss */
.sortDrop,
.showDrop {
  display: flex;
  line-height: 30px;
  padding: 8px 0;
  color: #AAB1B5; }
  /* line 460, style.scss */
  .sortDrop > a,
  .showDrop > a {
    margin-left: 10px;
    color: #859095; }

/* line 466, style.scss */
.tagCompleted {
  color: #64BFCD;
  font-size: 13px;
  font-weight: 600;
  padding-left: 30px;
  line-height: 32px;
  background: url("../images2/iconCheck20Green.svg") no-repeat left center; }

/* line 475, style.scss */
.check {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images2/iconCheck20Green.svg") no-repeat; }

/* line 482, style.scss */
.iconType {
  display: block;
  width: 20px;
  height: 20px; }

/* line 488, style.scss */
.activityVideo .iconType {
  background: url("../images2/iconVideo20.svg") no-repeat; }

/* line 491, style.scss */
.activityText .iconType {
  background: url("../images2/iconText20.svg") no-repeat; }

/* line 494, style.scss */
.activitySlide .iconType {
  background: url("../images2/iconSlide20.svg") no-repeat; }

/* line 497, style.scss */
.activityExternal .iconType {
  background: url("../images2/iconExternal20.svg") no-repeat; }

/* line 501, style.scss */
.editOptions {
  display: flex;
  align-items: center; }
  /* line 504, style.scss */
  .editOptions .linkEdit {
    margin-right: 10px; }
  /* line 507, style.scss */
  .editOptions .moveUp,
  .editOptions .moveDown {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    text-indent: -10000px;
    opacity: .5;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease; }
    /* line 517, style.scss */
    .editOptions .moveUp.disabled, .editOptions .moveUp[disabled],
    .editOptions .moveDown.disabled,
    .editOptions .moveDown[disabled] {
      opacity: 0.2 !important; }
    /* line 521, style.scss */
    .editOptions .moveUp:hover,
    .editOptions .moveDown:hover {
      opacity: 1; }
  /* line 525, style.scss */
  .editOptions .moveUp {
    background: url("../images2/arrowUp.svg") no-repeat center center; }
  /* line 528, style.scss */
  .editOptions .moveDown {
    background: url("../images2/arrowDown.svg") no-repeat center center; }

/* line 533, style.scss */
.paginationWrapper {
  display: flex;
  justify-content: center; }
  /* line 536, style.scss */
  .paginationWrapper .pagination {
    margin: 0 0 30px 0; }
    /* line 538, style.scss */
    .paginationWrapper .pagination li {
      display: inline-block;
      float: left;
      margin: 0 5px;
      line-height: 30px; }
      /* line 543, style.scss */
      .paginationWrapper .pagination li a {
        display: inline-block;
        min-width: 30px;
        line-height: 30px;
        padding: 0;
        font-size: 13px;
        font-weight: 500;
        color: #AAB1B5;
        text-align: center;
        background: none;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
        /* line 555, style.scss */
        .paginationWrapper .pagination li a:hover {
          color: #363636;
          background: none; }
      /* line 560, style.scss */
      .paginationWrapper .pagination li.active a, .paginationWrapper .pagination li.active a:hover {
        color: #363636;
        background: #EDEFF1; }

/* line 569, style.scss */
.tags {
  margin-bottom: 30px;
  padding: 0; }
  /* line 572, style.scss */
  .tags li {
    display: inline-block;
    margin: 0 10px 10px 0; }
    /* line 575, style.scss */
    .tags li a {
      display: inline-block;
      padding: 0 10px;
      line-height: 28px;
      background: #E9EBEF;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: #859095;
      font-weight: 400;
      font-size: 13px; }
      /* line 584, style.scss */
      .tags li a:hover {
        color: #363636; }

/* line 591, style.scss */
.user32 {
  display: flex;
  height: 32px;
  align-items: center; }
  /* line 595, style.scss */
  .user32 img {
    margin-right: 10px; }
  /* line 598, style.scss */
  .user32 h3 {
    margin: 0; }

/* line 603, style.scss */
.messageMenu,
.optMoreMenu {
  width: 20px;
  height: 20px; }
  /* line 607, style.scss */
  .messageMenu > a,
  .optMoreMenu > a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -10000px;
    background: url("../images2/iconMore20.svg") no-repeat;
    opacity: .5; }
    /* line 614, style.scss */
    .messageMenu > a:hover,
    .optMoreMenu > a:hover {
      opacity: 1; }

/* line 620, style.scss */
.modal-content {
  border: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 626, style.scss */
  .modal-content .modal-header {
    border: none;
    padding: 30px;
    text-align: center;
    position: relative; }
    /* line 631, style.scss */
    .modal-content .modal-header .modal-title {
      margin: 0; }
    /* line 634, style.scss */
    .modal-content .modal-header .close {
      position: absolute;
      top: 6px;
      right: 10px; }
    /* line 641, style.scss */
    .summaryCard .modal-content .modal-header h2, .publishBox .modal-content .modal-header h2 {
      float: none; }
  /* line 647, style.scss */
  .modal-content .modal-body {
    padding: 0 30px;
    text-align: center; }
    /* line 650, style.scss */
    .modal-content .modal-body small {
      color: #AAB1B5; }
  /* line 655, style.scss */
  .modal-content .modal-footer {
    border: none;
    padding: 0 30px 20px 30px;
    text-align: center; }
    /* line 659, style.scss */
    .modal-content .modal-footer .btn + .btn {
      margin-left: 10px; }

/*--- FORM ELEMENTS ---*/
/* line 667, style.scss */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: #fff;
  border: 1px solid #E6E7EC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }

/* line 679, style.scss */
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 30px;
  padding: 5px 10px; }

/* line 686, style.scss */
button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }

/* line 691, style.scss */
textarea {
  height: auto;
  padding: 10px;
  resize: none; }

/* line 698, style.scss */
.formWrapper .formLine {
  display: flex;
  padding-bottom: 30px; }
  /* line 701, style.scss */
  .formWrapper .formLine > label {
    min-width: 170px;
    font-weight: 600;
    color: #363636;
    line-height: 40px; }
  /* line 707, style.scss */
  .formWrapper .formLine .formLineRight {
    flex-grow: 1; }
    /* line 709, style.scss */
    .formWrapper .formLine .formLineRight input[type="text"],
    .formWrapper .formLine .formLineRight textarea {
      width: 100%; }
    /* line 713, style.scss */
    .formWrapper .formLine .formLineRight textarea {
      height: 100px; }
      /* line 715, style.scss */
      .formWrapper .formLine .formLineRight textarea.textareaBig {
        height: 300px; }
    /* line 719, style.scss */
    .formWrapper .formLine .formLineRight .bootstrap-select,
    .formWrapper .formLine .formLineRight p {
      margin-bottom: 0; }

/* line 727, style.scss */
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #E6E7EC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  line-height: 30px;
  padding: 5px 10px;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  line-height: 22px;
  cursor: text; }

/* line 743, style.scss */
.bootstrap-tagsinput input {
  border: none !important;
  box-shadow: none !important;
  outline: none;
  background-color: transparent;
  line-height: 30px;
  padding: 0 !important;
  margin: 0;
  width: auto !important;
  max-width: inherit; }

/* line 755, style.scss */
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none; }

/* line 759, style.scss */
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: #859095;
  background: #E9EBEF;
  line-height: 30px;
  padding: 5px;
  font-size: 13px;
  font-weight: 400; }

/* line 768, style.scss */
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer; }

/* line 772, style.scss */
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  color: #859095;
  padding: 0px 2px; }

/*---------------------------------------------------------------------*/
/*--- 02. HEADER ---*/
/*---------------------------------------------------------------------*/
/* line 788, style.scss */
header {
  width: 100%;
  background: #444C5A;
  -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.1); }
  /* line 794, style.scss */
  header .headerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    /* line 798, style.scss */
    header .headerTop .headerTopLeft {
      display: flex; }
      /* line 800, style.scss */
      header .headerTop .headerTopLeft #logo {
        width: 100px;
        height: 30px;
        margin: 15px 20px 15px 0;
        background: #000; }
      /* line 806, style.scss */
      header .headerTop .headerTopLeft nav {
        height: 30px;
        padding: 15px 0; }
        /* line 809, style.scss */
        header .headerTop .headerTopLeft nav .nav > li > a {
          font-size: 12px;
          line-height: 30px;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase; }
        /* line 817, style.scss */
        header .headerTop .headerTopLeft nav .nav-pills > li {
          margin: 0 10px 0 0; }
          /* line 819, style.scss */
          header .headerTop .headerTopLeft nav .nav-pills > li > a {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 0 10px;
            opacity: .5; }
            /* line 823, style.scss */
            header .headerTop .headerTopLeft nav .nav-pills > li > a:hover {
              background: none;
              opacity: 1; }
        /* line 829, style.scss */
        header .headerTop .headerTopLeft nav .nav-pills > li.active > a,
        header .headerTop .headerTopLeft nav .nav-pills > li.active > a:focus,
        header .headerTop .headerTopLeft nav .nav-pills > li.active > a:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1); }
    /* line 841, style.scss */
    header .headerTop .headerTopRight {
      display: flex;
      height: 32px;
      padding: 14px 0; }
      /* line 845, style.scss */
      header .headerTop .headerTopRight .createMenu {
        height: 32px; }
        /* line 847, style.scss */
        header .headerTop .headerTopRight .createMenu > a {
          margin: 0 20px 0 0;
          font-weight: 700; }
      /* line 852, style.scss */
      header .headerTop .headerTopRight .userMenu {
        height: 32px; }
        /* line 854, style.scss */
        header .headerTop .headerTopRight .userMenu > a {
          width: 54px;
          height: 32px; }
          /* line 857, style.scss */
          header .headerTop .headerTopRight .userMenu > a .arrowDown {
            background: url("../images2/arrowDownWhite.svg") no-repeat; }
      /* line 862, style.scss */
      header .headerTop .headerTopRight .iconMessages,
      header .headerTop .headerTopRight .iconNotifications {
        display: block;
        width: 20px;
        height: 20px;
        margin: 6px 20px 0 0;
        opacity: .5;
        text-indent: -10000px;
        position: relative; }
        /* line 871, style.scss */
        header .headerTop .headerTopRight .iconMessages:hover,
        header .headerTop .headerTopRight .iconNotifications:hover {
          opacity: 1; }
        /* line 874, style.scss */
        header .headerTop .headerTopRight .iconMessages.active,
        header .headerTop .headerTopRight .iconNotifications.active {
          opacity: 1; }
          /* line 876, style.scss */
          header .headerTop .headerTopRight .iconMessages.active .unreadDot,
          header .headerTop .headerTopRight .iconNotifications.active .unreadDot {
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background: url("../images2/unreadDot.svg") no-repeat;
            top: 0;
            right: -2px; }
      /* line 887, style.scss */
      header .headerTop .headerTopRight .iconMessages {
        background: url("../images2/iconEnvelope20White.svg") no-repeat; }
      /* line 890, style.scss */
      header .headerTop .headerTopRight .iconNotifications {
        background: url("../images2/iconBell20White.svg") no-repeat; }
  /* line 895, style.scss */
  header h1 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px; }
  /* line 900, style.scss */
  header .headerSubmenu {
    margin-top: -20px; }

/*---------------------------------------------------------------------*/
/*--- 03. MAIN  ---*/
/*---------------------------------------------------------------------*/
/* line 910, style.scss */
.whiteBarContent .whiteBarLeft {
  display: flex;
  align-items: center; }
  /* line 913, style.scss */
  .whiteBarContent .whiteBarLeft .searchBox {
    height: 46px;
    padding-left: 30px;
    background: url("../images2/iconSearch20.svg") no-repeat left center; }
    /* line 917, style.scss */
    .whiteBarContent .whiteBarLeft .searchBox input {
      width: 300px;
      line-height: 32px;
      padding: 8px 0;
      border: none; }
  /* line 924, style.scss */
  .whiteBarContent .whiteBarLeft .item {
    margin-right: 30px; }
  /* line 927, style.scss */
  .whiteBarContent .whiteBarLeft .progressBar {
    margin-left: 20px; }
/* line 931, style.scss */
.whiteBarContent .whiteBarRight {
  display: flex;
  align-items: center; }
  /* line 934, style.scss */
  .whiteBarContent .whiteBarRight .item {
    margin-left: 30px; }

/* line 940, style.scss */
.pageSubmenu {
  margin-top: -28px; }
  /* line 942, style.scss */
  .pageSubmenu > li > a {
    color: #AAB1B5;
    opacity: 1; }
    /* line 945, style.scss */
    .pageSubmenu > li > a:hover {
      color: #363636; }
  /* line 949, style.scss */
  .pageSubmenu > li.active > a,
  .pageSubmenu > li.active > a:focus,
  .pageSubmenu > li.active > a:hover {
    color: #363636;
    border-bottom: 2px solid #FCA567; }

/* line 957, style.scss */
.innerSubmenu {
  display: flex;
  background: #F8F9FB;
  border: 1px solid #E6E7EC;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 963, style.scss */
  .innerSubmenu > li {
    margin: 0;
    flex-grow: 1; }
    /* line 966, style.scss */
    .innerSubmenu > li:first-child a {
      border-left: 0 !important;
      border-radius: 4px 0px 0px 4px;
      -moz-border-radius: 4px 0px 0px 4px;
      -webkit-border-radius: 4px 0px 0px 4px; }
    /* line 972, style.scss */
    .innerSubmenu > li:last-child a {
      border-right: 0 !important;
      border-radius: 0px 4px 4px 0px;
      -moz-border-radius: 0px 4px 4px 0px;
      -webkit-border-radius: 0px 4px 4px 0px; }
    /* line 978, style.scss */
    .innerSubmenu > li > a {
      color: #AAB1B5;
      opacity: 1;
      line-height: 38px;
      border: none;
      margin: 0;
      text-align: center;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
      /* line 986, style.scss */
      .innerSubmenu > li > a:hover {
        color: #363636;
        border: none; }
  /* line 992, style.scss */
  .innerSubmenu > li.active > a,
  .innerSubmenu > li.active > a:focus,
  .innerSubmenu > li.active > a:hover {
    color: #363636;
    border-left: 1px solid #E6E7EC;
    border-right: 1px solid #E6E7EC;
    border-bottom: 0;
    background: #fff; }

/* line 1003, style.scss */
.summaryCard {
  position: relative; }
  /* line 1005, style.scss */
  .summaryCard h2 {
    float: left;
    margin-top: 0;
    margin-bottom: 20px; }
    /* line 1009, style.scss */
    .summaryCard h2 span {
      color: #AAB1B5; }
  /* line 1013, style.scss */
  .summaryCard .metaBox {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px; }
    /* line 1017, style.scss */
    .summaryCard .metaBox .metaLeft {
      display: flex; }
      /* line 1019, style.scss */
      .summaryCard .metaBox .metaLeft .progressBar {
        height: 32px;
        margin-left: 20px; }
      /* line 1023, style.scss */
      .summaryCard .metaBox .metaLeft .linkRed {
        margin-left: 20px;
        line-height: 32px; }
    /* line 1028, style.scss */
    .summaryCard .metaBox .metaRight {
      display: flex;
      padding: 6px 0; }
      /* line 1031, style.scss */
      .summaryCard .metaBox .metaRight .duration {
        margin-left: 20px; }
  /* line 1036, style.scss */
  .summaryCard .editOptions {
    float: right;
    margin-top: 4px; }
  /* line 1040, style.scss */
  .summaryCard .bookmarkStar {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -10000px;
    top: 30px;
    right: 30px;
    visibility: hidden;
    background: url("../images2/iconStar20Gray.svg") no-repeat;
    transition: none;
    -webkit-transition: none; }
    /* line 1052, style.scss */
    .summaryCard .bookmarkStar.active, .summaryCard .bookmarkStar:hover {
      visibility: visible;
      background: url("../images2/iconStar20Yellow.svg") no-repeat; }
  /* line 1058, style.scss */
  .summaryCard:hover .bookmarkStar {
    visibility: visible; }
  /* line 1062, style.scss */
  .summaryCard .collapseActivityList .collapseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #EEEFF3; }
    /* line 1069, style.scss */
    .summaryCard .collapseActivityList .collapseButton span {
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      color: #AAB1B5;
      font-weight: 400; }
    /* line 1075, style.scss */
    .summaryCard .collapseActivityList .collapseButton .arrowUp,
    .summaryCard .collapseActivityList .collapseButton .arrowDown {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 10px;
      text-indent: -10000px;
      opacity: .5;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease; }
    /* line 1087, style.scss */
    .summaryCard .collapseActivityList .collapseButton:hover span {
      color: #859095; }
    /* line 1090, style.scss */
    .summaryCard .collapseActivityList .collapseButton:hover .arrowUp,
    .summaryCard .collapseActivityList .collapseButton:hover .arrowDown {
      opacity: 1; }
    /* line 1095, style.scss */
    .summaryCard .collapseActivityList .collapseButton .arrowUp {
      background: url("../images2/arrowUp.svg") no-repeat center center; }
    /* line 1098, style.scss */
    .summaryCard .collapseActivityList .collapseButton .arrowDown {
      background: url("../images2/arrowDown.svg") no-repeat center center; }
    /* line 1101, style.scss */
    .summaryCard .collapseActivityList .collapseButton .textShow,
    .summaryCard .collapseActivityList .collapseButton .arrowDown {
      display: none; }
    /* line 1105, style.scss */
    .summaryCard .collapseActivityList .collapseButton .textHide,
    .summaryCard .collapseActivityList .collapseButton .arrowUp {
      display: inline-block; }
    /* line 1110, style.scss */
    .summaryCard .collapseActivityList .collapseButton.collapsed .textShow,
    .summaryCard .collapseActivityList .collapseButton.collapsed .arrowDown {
      display: inline-block; }
    /* line 1114, style.scss */
    .summaryCard .collapseActivityList .collapseButton.collapsed .textHide,
    .summaryCard .collapseActivityList .collapseButton.collapsed .arrowUp {
      display: none; }
  /* line 1120, style.scss */
  .summaryCard .collapseActivityList ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    /* line 1125, style.scss */
    .summaryCard .collapseActivityList ul li .iconType {
      float: left;
      margin-right: 20px; }
    /* line 1129, style.scss */
    .summaryCard .collapseActivityList ul li.noLink {
      display: block;
      line-height: 20px;
      padding: 10px 30px;
      background: #F8F9FB;
      border-top: 1px solid #EEEFF3; }
    /* line 1136, style.scss */
    .summaryCard .collapseActivityList ul li a {
      display: block;
      line-height: 20px;
      padding: 10px 30px;
      font-weight: 400;
      color: #859095;
      background: #F8F9FB;
      border-top: 1px solid #EEEFF3; }
      /* line 1144, style.scss */
      .summaryCard .collapseActivityList ul li a:hover {
        color: #363636; }
      /* line 1147, style.scss */
      .summaryCard .collapseActivityList ul li a .check {
        float: right;
        margin-left: 30px; }

/* line 1157, style.scss */
.newCompetenceBox {
  display: flex;
  height: 180px;
  margin-bottom: 105px;
  padding-top: 30px;
  border: 1px dashed #D5D8DA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center; }
  /* line 1166, style.scss */
  .newCompetenceBox .elementsWrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
    /* line 1170, style.scss */
    .newCompetenceBox .elementsWrapper .btn {
      margin-bottom: 30px; }
    /* line 1173, style.scss */
    .newCompetenceBox .elementsWrapper span {
      line-height: 40px;
      margin: 0 20px;
      color: #AAB1B5; }
    /* line 1178, style.scss */
    .newCompetenceBox .elementsWrapper .elementsRight {
      display: flex;
      flex-direction: column;
      position: relative; }
      /* line 1182, style.scss */
      .newCompetenceBox .elementsWrapper .elementsRight input {
        width: 300px;
        margin-bottom: 8px; }
      /* line 1186, style.scss */
      .newCompetenceBox .elementsWrapper .elementsRight .searchResultsDrop {
        top: 41px; }

/* line 1193, style.scss */
.activitiesList {
  padding: 0; }
  /* line 1195, style.scss */
  .activitiesList .activityItem {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 30px;
    border-bottom: 1px solid #EEEFF3; }
    /* line 1201, style.scss */
    .activitiesList .activityItem .check,
    .activitiesList .activityItem .iconType,
    .activitiesList .activityItem .iconPlus {
      margin-right: 20px;
      flex-shrink: 0; }
    /* line 1207, style.scss */
    .activitiesList .activityItem h3 {
      flex-grow: 1;
      margin: 0 10px 0 0; }
    /* line 1211, style.scss */
    .activitiesList .activityItem .editOptions {
      flex-shrink: 0; }
      /* line 1213, style.scss */
      .activitiesList .activityItem .editOptions .optMoreMenu {
        margin-right: 10px; }
    /* line 1217, style.scss */
    .activitiesList .activityItem .duration {
      flex-shrink: 0; }
    /* line 1220, style.scss */
    .activitiesList .activityItem.addActivity {
      line-height: 60px;
      border: none; }
      /* line 1223, style.scss */
      .activitiesList .activityItem.addActivity .iconPlus {
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images2/iconPlus20.svg") no-repeat;
        opacity: .5;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease; }
      /* line 1232, style.scss */
      .activitiesList .activityItem.addActivity:hover .iconPlus {
        opacity: 1; }
    /* line 1236, style.scss */
    .activitiesList .activityItem:last-child {
      border-bottom: none; }

/* line 1242, style.scss */
.competenceProgressList {
  list-style: none;
  padding: 0; }
  /* line 1245, style.scss */
  .competenceProgressList li {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    /* line 1249, style.scss */
    .competenceProgressList li .check,
    .competenceProgressList li .iconType {
      margin-right: 20px;
      flex-shrink: 0; }
    /* line 1254, style.scss */
    .competenceProgressList li h3 {
      margin: 0; }
      /* line 1256, style.scss */
      .competenceProgressList li h3 a {
        color: #859095; }
        /* line 1258, style.scss */
        .competenceProgressList li h3 a:hover {
          color: #363636; }
    /* line 1263, style.scss */
    .competenceProgressList li.active h3 a {
      color: #363636; }

/* line 1270, style.scss */
.formLineRight .addedItems {
  padding: 10px 0 2px 0;
  margin-bottom: 10px;
  list-style: none; }
  /* line 1274, style.scss */
  .formLineRight .addedItems li {
    margin-bottom: 10px; }
    /* line 1276, style.scss */
    .formLineRight .addedItems li .removeX {
      float: right;
      width: 12px;
      height: 12px;
      margin-top: 5px;
      display: block;
      text-indent: -10000px;
      background: url("../images2/removeX.svg") no-repeat; }

/* line 1289, style.scss */
.publishBox {
  padding-bottom: 30px; }
  /* line 1291, style.scss */
  .publishBox h2 {
    float: left; }
  /* line 1294, style.scss */
  .publishBox .checkLine {
    margin-bottom: 20px; }
  /* line 1297, style.scss */
  .publishBox .linkPreview {
    float: right;
    margin-top: 4px; }
  /* line 1301, style.scss */
  .publishBox .publishRow {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* line 1307, style.scss */
  .publishBox .estimatedTime > p {
    margin-bottom: 10px; }
  /* line 1310, style.scss */
  .publishBox .estimatedTime .selectRow {
    display: flex;
    align-items: center; }
    /* line 1313, style.scss */
    .publishBox .estimatedTime .selectRow .bootstrap-select {
      width: 70px !important;
      margin-right: 10px; }
    /* line 1317, style.scss */
    .publishBox .estimatedTime .selectRow .pickMinutes {
      margin-left: 10px; }

/* line 1324, style.scss */
.activityMain {
  margin-bottom: 30px; }

/* line 1328, style.scss */
.activityLinksBox,
.activityFilesBox {
  list-style: none; }
  /* line 1331, style.scss */
  .activityLinksBox li,
  .activityFilesBox li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px 0 70px;
    border-bottom: 1px solid #EEEFF3; }
    /* line 1338, style.scss */
    .activityLinksBox li:last-child,
    .activityFilesBox li:last-child {
      border: none; }
    /* line 1341, style.scss */
    .activityLinksBox li h3,
    .activityFilesBox li h3 {
      margin-bottom: 10px; }
    /* line 1344, style.scss */
    .activityLinksBox li span,
    .activityFilesBox li span {
      font-size: 12px; }
    /* line 1347, style.scss */
    .activityLinksBox li a,
    .activityFilesBox li a {
      width: 100px; }

/* line 1353, style.scss */
.activityLinksBox li {
  background: url("../images2/iconLink20.svg") no-repeat 30px center; }

/* line 1357, style.scss */
.activityFilesBox li {
  background: url("../images2/iconFile20.svg") no-repeat 30px center; }

/* line 1361, style.scss */
.uploadResultBox {
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-bottom: 30px;
  border: 1px dashed #D5D8DA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center; }
  /* line 1370, style.scss */
  .uploadResultBox h3, .uploadResultBox p {
    margin-bottom: 10px; }

/* line 1376, style.scss */
.discussion h2 {
  display: inline-block; }
/* line 1379, style.scss */
.discussion .sortDrop {
  float: right;
  padding: 0; }
/* line 1383, style.scss */
.discussion img {
  margin: 9px 20px 0 0; }
/* line 1386, style.scss */
.discussion .addComment {
  display: flex;
  margin-bottom: 30px; }
/* line 1390, style.scss */
.discussion .commentForm,
.discussion .editComment {
  width: 100%; }
  /* line 1393, style.scss */
  .discussion .commentForm textarea,
  .discussion .editComment textarea {
    float: left;
    width: 100%;
    height: 50px;
    padding: 15px; }
  /* line 1399, style.scss */
  .discussion .commentForm .btn,
  .discussion .editComment .btn {
    margin: 15px 10px 0 0; }
/* line 1403, style.scss */
.discussion .commentForm {
  min-height: 50px; }
/* line 1406, style.scss */
.discussion .editComment {
  padding-bottom: 20px; }
/* line 1409, style.scss */
.discussion .comments {
  padding-bottom: 30px; }
  /* line 1411, style.scss */
  .discussion .comments ul {
    margin-bottom: 30px; }
  /* line 1414, style.scss */
  .discussion .comments .media-left, .discussion .comments .media > .pull-left {
    padding: 0; }
  /* line 1417, style.scss */
  .discussion .comments .media-body {
    padding-top: 16px; }
    /* line 1419, style.scss */
    .discussion .comments .media-body.replyComment {
      padding-top: 0; }
    /* line 1422, style.scss */
    .discussion .comments .media-body .commentMain {
      position: relative; }
      /* line 1424, style.scss */
      .discussion .comments .media-body .commentMain h3 {
        margin-bottom: 10px;
        position: relative; }
        /* line 1427, style.scss */
        .discussion .comments .media-body .commentMain h3 span {
          display: inline-block;
          margin-left: 10px;
          font-size: 11px;
          border: 1px solid #FCA567;
          height: 20px;
          padding: 0 5px;
          color: #FCA567;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
      /* line 1438, style.scss */
      .discussion .comments .media-body .commentMain .commentTime {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        color: #AAB1B5;
        display: none; }
      /* line 1446, style.scss */
      .discussion .comments .media-body .commentMain:hover > .commentTime {
        display: block; }
      /* line 1449, style.scss */
      .discussion .comments .media-body .commentMain p {
        margin-bottom: 10px; }
      /* line 1452, style.scss */
      .discussion .comments .media-body .commentMain .commentOptions {
        display: flex; }
        /* line 1454, style.scss */
        .discussion .comments .media-body .commentMain .commentOptions a {
          display: flex;
          align-items: center;
          color: #859095;
          font-weight: 400;
          font-size: 13px;
          margin-right: 20px; }
          /* line 1461, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a .icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            margin-bottom: 2px; }
            /* line 1467, style.scss */
            .discussion .comments .media-body .commentMain .commentOptions a .icon #triangle {
              transition: all 0.2s ease;
              -webkit-transition: all 0.2s ease; }
          /* line 1473, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a.reply .icon {
            background: url("../images2/iconReply12.svg") no-repeat;
            opacity: .5;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease; }
          /* line 1479, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a.reply:hover .icon {
            opacity: 1; }
          /* line 1484, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a.edit .icon {
            background: url("../images2/iconEdit12.svg") no-repeat;
            opacity: .5;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease; }
          /* line 1490, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a.edit:hover .icon {
            opacity: 1; }
          /* line 1494, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a:hover {
            color: #363636; }
            /* line 1496, style.scss */
            .discussion .comments .media-body .commentMain .commentOptions a:hover #triangle {
              fill: #FCA567; }
          /* line 1501, style.scss */
          .discussion .comments .media-body .commentMain .commentOptions a.liked #triangle {
            fill: #FCA567; }

/* line 1512, style.scss */
.twitterBtnBox {
  padding-top: 20px; }
  /* line 1514, style.scss */
  .twitterBtnBox .btnTwitterConnect, .twitterBtnBox .btnTwitterConnect:focus {
    float: left;
    margin-right: 10px;
    color: #fff;
    background: #55ACEE;
    border: 1px solid #55ACEE; }
    /* line 1520, style.scss */
    .twitterBtnBox .btnTwitterConnect:hover, .twitterBtnBox .btnTwitterConnect:focus:hover {
      color: #fff;
      background: #3ea1ec;
      border-color: #3ea1ec; }
    /* line 1525, style.scss */
    .twitterBtnBox .btnTwitterConnect span, .twitterBtnBox .btnTwitterConnect:focus span {
      float: left;
      margin: 8px 10px 0 0;
      display: inline-block;
      width: 16px;
      height: 13px;
      background: url("../images2/iconTwitter.svg") no-repeat; }
  /* line 1534, style.scss */
  .twitterBtnBox small {
    line-height: 16px;
    display: block; }

/* line 1540, style.scss */
.yourPhotoContent {
  display: flex;
  padding-bottom: 30px; }
  /* line 1543, style.scss */
  .yourPhotoContent img {
    margin-right: 20px; }
  /* line 1547, style.scss */
  .yourPhotoContent .chooseBtnBox .btn {
    margin-bottom: 20px; }

/* line 1553, style.scss */
.settingsEmailNotifications .checkLine {
  margin-bottom: 20px; }

/* line 1557, style.scss */
.settingsChangePassword .formLine {
  width: 400px; }

/* line 1561, style.scss */
.messagesListHead {
  height: 50px; }
  /* line 1563, style.scss */
  .messagesListHead .showDrop {
    float: left;
    padding: 10px 0; }
    /* line 1566, style.scss */
    .messagesListHead .showDrop > a {
      margin: 0;
      font-size: 13px; }
    /* line 1570, style.scss */
    .messagesListHead .showDrop .dropdown-menu {
      top: 40px; }
  /* line 1574, style.scss */
  .messagesListHead .newMessageBtn {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 13px; }
    /* line 1580, style.scss */
    .messagesListHead .newMessageBtn span {
      width: 12px;
      height: 12px;
      float: left;
      margin-right: 10px;
      margin-top: 8px;
      opacity: .5;
      background: url("../images2/iconEdit12.svg") no-repeat;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease; }
    /* line 1591, style.scss */
    .messagesListHead .newMessageBtn:hover span {
      opacity: 1; }

/* line 1598, style.scss */
.messagesList ul {
  list-style: none;
  padding: 0;
  border-top: 1px solid #ECEDF1; }
  /* line 1602, style.scss */
  .messagesList ul li {
    position: relative;
    height: 68px;
    padding: 16px 8px;
    border-bottom: 1px solid #ECEDF1;
    border-left: 2px solid #F8F9FB; }
    /* line 1608, style.scss */
    .messagesList ul li.active {
      border-left: 2px solid #FCA567; }
    /* line 1611, style.scss */
    .messagesList ul li .media {
      margin: 0; }
      /* line 1614, style.scss */
      .messagesList ul li .media .media-body h3 {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 20px; }
      /* line 1620, style.scss */
      .messagesList ul li .media .media-body span {
        float: right;
        margin-top: 0;
        font-size: 12px;
        line-height: 20px;
        color: #AAB1B5; }
      /* line 1627, style.scss */
      .messagesList ul li .media .media-body p {
        font-size: 13px;
        margin: 0;
        line-height: 20px; }
    /* line 1634, style.scss */
    .messagesList ul li .unread {
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      background: url("../images2/unreadDot.svg") no-repeat;
      top: 42px;
      right: 8px; }
    /* line 1643, style.scss */
    .messagesList ul li.unreadMessage .unread {
      display: block !important; }

/* line 1650, style.scss */
.messageColumn {
  display: flex;
  /* set height based on browser height */ }
  /* line 1653, style.scss */
  .messageColumn .messagesPane {
    width: 100%; }
    /* line 1655, style.scss */
    .messageColumn .messagesPane.noSelected {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      /* line 1661, style.scss */
      .messageColumn .messagesPane.noSelected > h2 {
        color: #AAB1B5; }
    /* line 1665, style.scss */
    .messageColumn .messagesPane .messagePaneHead {
      position: relative;
      display: flex;
      height: 60px;
      justify-content: space-between; }
      /* line 1670, style.scss */
      .messageColumn .messagesPane .messagePaneHead h2 {
        float: left;
        margin: 18px 0 0 30px; }
      /* line 1674, style.scss */
      .messageColumn .messagesPane .messagePaneHead .messageMenu {
        float: right;
        margin: 20px 30px; }
      /* line 1678, style.scss */
      .messageColumn .messagesPane .messagePaneHead .toBox {
        display: inline-block;
        line-height: 60px;
        width: 20px;
        margin: 0 10px 0 30px; }
      /* line 1684, style.scss */
      .messageColumn .messagesPane .messagePaneHead input[type="text"] {
        width: 100%;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #363636;
        font-weight: 500; }
      /* line 1693, style.scss */
      .messageColumn .messagesPane .messagePaneHead .searchResultsDrop {
        top: 60px; }
        /* line 1695, style.scss */
        .messageColumn .messagesPane .messagePaneHead .searchResultsDrop li a {
          height: 52px; }
          /* line 1697, style.scss */
          .messageColumn .messagesPane .messagePaneHead .searchResultsDrop li a img {
            float: left;
            margin-right: 15px; }
          /* line 1701, style.scss */
          .messageColumn .messagesPane .messagePaneHead .searchResultsDrop li a h3 {
            margin: 7px 0 0 0; }
    /* line 1707, style.scss */
    .messageColumn .messagesPane .greyBar {
      padding: 1px 30px;
      background: #F8F9FB;
      border-top: 1px solid #EEEFF3;
      border-bottom: 1px solid #EEEFF3; }
    /* line 1715, style.scss */
    .messageColumn .messagesPane .media .media-body h3 {
      float: left;
      margin-top: 7px; }
    /* line 1719, style.scss */
    .messageColumn .messagesPane .media .media-body span {
      float: right;
      margin-top: 7px;
      font-size: 12px;
      color: #AAB1B5; }
    /* line 1725, style.scss */
    .messageColumn .messagesPane .media .media-body p {
      margin-bottom: 20px; }
    /* line 1730, style.scss */
    .messageColumn .messagesPane .newMessagesSeparator {
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      color: #FCA567;
      background: url("../images2/newMessagesLine.svg") no-repeat 85px 9px; }
    /* line 1739, style.scss */
    .messageColumn .messagesPane .typeBox {
      min-height: 32px;
      padding: 20px 30px; }
      /* line 1742, style.scss */
      .messageColumn .messagesPane .typeBox .media-body > div {
        display: flex;
        justify-content: space-between; }
        /* line 1745, style.scss */
        .messageColumn .messagesPane .typeBox .media-body > div .btn {
          height: 32px;
          margin-left: 10px; }
        /* line 1749, style.scss */
        .messageColumn .messagesPane .typeBox .media-body > div textarea {
          width: 100%;
          height: 32px;
          padding: 5px 0;
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none; }

/*---------------------------------------------------------------------*/
/*--- 04. FOOTER ---*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*--- 05. MEDIA QUERIES ---*/
/*---------------------------------------------------------------------*/