@charset "utf-8";

/*---------------------------------------------------------------------*/
/*--- GENERAL ---*/
/*---------------------------------------------------------------------*/
.button {
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	margin: 0;
	border: none;
}

.button.blue {
  color: #136db2;
    background: #d7eeff;
}

.button.blue:hover {
  color: #fff;
  background: #136db2;
}

.button.green {
  color: #fff;
    background: #59af4d;
}

.button.green:hover {
	background-color: #4f9c45;
    border-color: #4f9c45;
}

.button.red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.button.red:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.button.gray {
	color: #777;
	background: #f5f5f5;
}

.button.gray:hover:not (.disabled ):not (.ui-state-disabled ){
	color: #777;
	background: #e1e1e1;
}

.button.gray.disabled:hover {
	cursor: default;
	background: #f5f5f5;
}

.button.white {
	color: #555;
	background: #fff;
}

.button.size40 {
	font-size: 14px;
	line-height: 38px;
	padding: 0;
	width: 218px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.button.size30 {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
}

.button.size25 {
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.button.size24 {
	font-size: 12px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.button.size20 {
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

.button.size16 {
	font-size: 11px;
	line-height: 16px;
	padding: 0 10px;
	text-transform: uppercase;
}

.button.left {
	float: left;
	margin-right: 10px;
}

.button.right {
	float: right;
	margin-left: 10px;
}

textarea, .ui-widget textarea {
	height: 20px;
	line-height: 20px;
	padding: 4px 6px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	color: #555;
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	font-size: 12px;
}

/*--- EDITABLE TEXT ---*/
.editable-input {
	vertical-align: top;
	display: inline-block;
	width: auto;
	white-space: normal;
	zoom: 1;
}

.editable-buttons {
	display: inline-block;
	vertical-align: top;
	margin-left: 7px;
	zoom: 1;
}

.analyticsSettings {
	
}

#loaderOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2147483646;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

#loaderOverlay .text {
  display: inline-block;
  font-size: 18px;
  margin-top: 200px;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}

.tableProsolo > thead > tr > th.colEmail {
	width: 200px;
}

.tableProsolo > thead > tr > th.colActions {
	width: 250px;
}

.tableProsolo > tbody > tr > td.actions a {
	margin-right: 10px;
}

/*---------------------------------------------------------------------*/
/*--- END GENERAL ---*/
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*--- DIALOGS ---*/
/*---------------------------------------------------------------------*/
.ui-dialog table td.col1 {
	font-weight: bold;
}

/* MESSAGE DIALOG */
.messageDialog table {
	border-spacing: 20px;
	border-collapse: collapse;
	width: 100%;
}

.messageDialog td {
	padding: 5px;
	position: relative;
}

.messageDialog td.col1 {
	width: 60px;
}

.messageDialog textarea.messageContent {
	width: 357px;
	height: 120px;
	overflow: hidden;
	word-wrap: break-word;
	resize: none;
}

/* ROLE DIALOG */
.roleDialog .form-control.title,
.roleDialog .form-control.description {
    height: 32px;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    width: 320px;
}

.roleDialog .form-control.description {
    height: 100px;
}

/*---------------------------------------------------------------------*/
/*--- END DIALOGS ---*/
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*--- OVERRIDES ---*/
/*---------------------------------------------------------------------*/

/**** JQUERY UI ******/

/* Dialog title */
.ui-dialog {
	z-index: 1050;
	overflow: initial;
	padding: 0;
	border: none;
}

.ui-widget-header {
	background: none;
	background-color: #0288d1;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 10px 20px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close, 
.ui-dialog .ui-dialog-titlebar-minimize,
.ui-dialog .ui-dialog-titlebar-maximize {
	right: 10px;
}

.ui-corner-all {
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

.ui-widget-header {
	text-shadow: none;
	font-size: 16px;
}

/* Growl Text */
.ui-growl {
    top: 80px;
}

.ui-growl-message {
	text-shadow: none;
}

.ui-growl-title {
	font-size: 16px;
}

.ui-growl-message p {
	font-size: 14px;
}

.ui-growl .ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-growl .ui-state-highlight {
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
}

/* button */
.button.ui-button {
	font-weight: normal;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.button.ui-button span {
	padding: initial;
	line-height: inherit;
}

.ui-dialog table {
	margin-bottom: 10px;
}

.ui-dialog table td.col1 {
	font-weight: bold;
}

.ui-dialog table td.label {
	vertical-align: top;
}

.ui-dialog .ui-dialog-content {
	padding: 0.7em 1em;
}

.ui-dialog .messageTextarea {
	line-height: 20px;
	padding: 4px 6px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	color: #a1a1a1;
	resize: none;
}

.ui-dialog .messageTextarea:focus {
	color: #555;
}

.ui-dialog .ui-button-icon-only .ui-icon {
	left: -1px;
	top: -1px;
}

.ui-widget-overlay {
	background: #000;
	opacity: 0.6;
	filter: Alpha(Opacity = 60);
	z-index: 800;
	position: fixed;
}

.warning .ui-widget-header {
	background: #d9534f;
}

.ui-message-error {
	margin: 0;
	margin-top: 5px;
}

.ui-datatable .ui-datatable-header {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.ui-widget-header .ui-state-default.ui-paginator-rpp-options,
.ui-paginator .ui-paginator-current {
	font-size: 14px;
	font-weight: normal;
}

.ui-widget-header input.ui-state-default {
	background: #fff;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	padding: 4px 6px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	color: #555;
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: justify;
	text-justify: inter-word;
}

.ui-state-hover,
.ui-datatable-data tr.ui-state-hover {
	background: inherit;
	border: inherit;
}

.messageTextarea {
	height: 40px;
	width: 250px;
	line-height: 20px;
	padding: 4px 6px;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	color: #a1a1a1;
}

/**** qTip ******/
.qtip.ui-tooltip-width-unbounded {
	max-width: none;
}

.qtip.ui-tooltip-rounded {
	border: #eeeeee 1px solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 5px;
}

.qtip.ui-tooltip-shadow {
	-webkit-box-shadow: #eee 0 0 5px;
	-moz-box-shadow: #eee 0 0 5px;
	box-shadow: #eee 0 0 5px;
}

.qtip.no-close-button .ui-icon-close {
	display: none;
}

.qtip .ui-tooltip-content {
	padding: 5px;
}

/****** Scheduler event types*******/
.default-event, .default-event .fc-event-skin, .default-event a {
	background-color: #7ABDFF;
	color: black;
	border-color: #7ABDFF;
}

.critical-event, .critical-event .fc-event-skin, .critical-event a {
	background-color: #FF7A7A;
	color: black;
	border-color: #FF7A7A;
}

.completed-event, .completed-event .fc-event-skin, .completed-event a {
	background-color: #99FF99;
	color: black;
	border-color: #99FF99;
}

.fc-event {
	cursor: pointer;
}

/* slider */
.ui-slider .ui-slider-range {
	z-index: 0;
}

.ui-slider.ui-slider-disabled .ui-slider-handle {
	display: none;
}

.ui-slider .ui-slider-range {
	border: none;
}

.ui-selectcheckboxmenu-header:before {
	content: "Select all";
	margin-left: 10px;
	display: inline;
	margin-top: 15px;
}

.filterDatePicker input {
	width: 100px;
}

.ui-selectcheckboxmenu-header {
	font-weight: normal;
	font-size: 100%;
}

.firstBackupColumn {
	width: 250px;
}

.secondBackupColumn {
	width: 100px;
	text-align: center;
}

.thirdBackupColumn {
	width: 100px;
	text-align: center;
}

.fourthBackupColumn {
	width: 100px;
	text-align: center;
}

.backupSettingsFirstColumn {
	width: 150px;
}

.backupSettingsSecondColumn {
	width: 30px;
}

.ui-commandlink.loadMore {
	font-size: 12px;
}

/* Trip Tutorial */
.trip-block {
	max-width: 400px;
}

.trip-block .trip-content {
	font-size: 14px;
}

/* Readmore */
.readmore-js-toggle {
	font-size: 11px;
}

/* Tiny MCE */
.mce-panel {
	border-color: #e5e5e5;
}

a, a:link,a:hover,a:active, a:focus {
  color: #2196f3;
  outline: 0;
}

.btn.btn-info,
.btn.btn-danger {
	color: #fff;
}
/*---------------------------------------------------------------------*/
/*--- END OVERRIDES ---*/
/*---------------------------------------------------------------------*/