#mainActivityWall, #goalWall { position: relative; top:10px; left:0px; width:310px; display:inline; text-align:left; }

/* ACTIVITY WALL RESULTS */
#activityresults div{ display:block; background-color:white; clear:left;  text-decoration:none;}
#activityresults div:hover { background-color:#e4e4e4; color:#ffffff; }
#activityresults div img { float:left; padding:5px 10px; }
#activityresults div span.activityheading { display:block; font-weight:bold; padding-top:5px;   }
#activityresults div:hover span.activityheading { color:black; }
#activityresults div span { color:#555555; }
#activityresults div:hover span { color:#606060 ; }
#activityresults span.category { font-size:11px; margin:5px; display:block; color:#ffffff; }
#activityresults span.seperator { float:right; padding-right:15px; margin-right:5px;
			background-image:url(../resources/images/shortcuts_arrow.gif); background-repeat:no-repeat; background-position:right; }
#activityresults span.seperator a { background-color:transparent; display:block; margin:5px; height:auto; color:#ffffff; }