@font-face {
    font-family: 'jrhandRegular';
    src: url('jr-hand-fontfacekit/jr!ha___-webfont.eot');
    src: url('jr-hand-fontfacekit/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('jr-hand-fontfacekit/jr!ha___-webfont.woff') format('woff'),
         url('jr-hand-fontfacekit/jr!ha___-webfont.ttf') format('truetype'),
         url('jr-hand-fontfacekit/jr!ha___-webfont.svg#jrhandRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.handwritten,
.handwritten a {
	font: 20px 'jrhandRegular', Arial, sans-serif;
	letter-spacing: 0;
}

.arrow {
    background: url(../images/style/arrowsSprites.png) no-repeat;
}

.arrow.arrow1 {
    width: 27px;
    height: 50px;
    background-position: -0px -61px;
}

.arrow.arrow2 {
    width: 18px;
    height: 50px;
    background-position: -153px -0px;
}

.arrow.arrow3 {
    width: 13px;
    height: 30px;
    background-position: -153px -117px;
}

.arrow.arrow4 {
    width: 50px;
    height: 15px;
    background-position: -92px -122px;
}

.arrow.arrow5 {
    width: 12px;
    height: 60px;
    background-position: -38px -117px;
}

.arrow.arrow6 {
    width: 19px;
    height: 45px;
    background-position: -139px -61px;
}

.arrow.arrow7 {
    width: 31px;
    height: 50px;
    background-position: -111px -0px;
}

.arrow.arrow8 {
    width: 60px;
    height: 20px;
    background-position: -38px -59px;
}

.arrow.arrow9 {
    width: 20px;
    height: 40px;
    background-position: -61px -117px;
}

.arrow.arrow10 {
    width: 19px;
    height: 50px;
    background-position: -109px -61px;
}

.arrow.arrow11 {
    width: 34px;
    height: 48px;
    background-position: -66px -0px;
}

.arrow.arrow12 {
    width: 55px;
    height: 42px;
    background-position: -0px -0px;
}

.arrow.arrow13 {
    width: 34px;
    height: 47px;
    background-position: -90px -140px;
}

.arrow.arrow14 {
    width: 50px;
    height: 15px;
    background-position: -40px -90px;
}

/*************************************************/
/* SPECIFIC BUBBLE SETTINGS */
/*************************************************/

.ballonMessage {
	z-index: 150;
}

.ballonMessage .hide {
	position: absolute;
	cursor: pointer;
	color: black;
	display: none;
}

.ballonMessage .handwritten {
	position: absolute;
	display: inline-block;
	cursor: default;
	padding: 20px 20px 0 0;
}

.ballonMessage .arrow {
	position: absolute;
}

/* newCompetenceBallon */

#newCompetenceBallon .handwritten {
	width: 180px;
	right: -151px;
	bottom: 57px;
}

#newCompetenceBallon .arrow {
	bottom: 14px;
	right: -26px;
}

#newCompetenceBallon .hide {
	left: 170px;
	top: 10px;
}

/* sendToPortfolioBallon */

#sendToPortfolioBallon .handwritten {
	width: 320px;
	left: 720px;
	top: -55px;
	text-align: center;
}

#sendToPortfolioBallon .arrow {
	left: 870px;
	top: 5px;
}

#sendToPortfolioBallon .hide {
	left: 315px;
	top: 17px;
}

/* discoverCompBallon */

#discoverCompBallon {
	position: relative;
}

#discoverCompBallon .handwritten {
	width: 200px;
	left: 100px;
	top: -37px;
	text-align: right;
	padding: 10px 20px 0 0;
}

#discoverCompBallon .arrow {
	left: 150px;
	top: 16px;
}

#discoverCompBallon .hide {
	left: 205px;
	top: 0px;
}

/* accessCompetenceHere */

#accessCompetenceHereBallon {
	position: relative;
}

#accessCompetenceHereBallon .ballonMessage {
	position: absolute;
	left: 40px;
	top: -20px;
}

#accessCompetenceHereBallon .handwritten {
	width: 125px;
	text-align: center;
	padding: 10px 15px 0 0;
}

#accessCompetenceHereBallon .arrow {
	left: -40px;
	top: 25px;
}

#accessCompetenceHereBallon .hide {
	right: 5px;
	top: 0px;
}