@CHARSET "UTF-8";

#dashboard .loader {
	display: none;
	background-image: url('/resources/images/style/ajax-loader-black.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
}

#dashboard .messages {
	display: none;
	clear: both;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(1) {
	width: 10%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(2) {
	width: 30%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(3) {
	width: 20%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(4) {
	width: 15%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(5) {
	width: 20%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(5) {
	width: 5%;
}

#disabled-hashtags-dialog {
	display: none;
}

#system-not-available-notification {
	display: none;
}

#activityGraph .chart-block, #twitterHashtagsGraph .chart-block {
 	height: 226px;
	position: relative;
}

#activityGraph .chart, #twitterHashtagsGraph .chart {
	width: 80%;
	float: left;
}

#activityGraph .legend, #twitterHashtagsGraph .legend {
	width: 19%;
	float: right;
}

#activityGraph .legend path, #twitterHashtagsGraph .legend path {
	stroke-width: 2px;
}

#dashboard .legend g {
	cursor: pointer;
}

#dashboard .legend svg > text {
	font-size: 0.75em;
	fill: gray;
}

#dashboard .legend g:hover {
	fill: #0288D1;
}

#dashboard .legend g text.selected {
	fill: lightgray;
}

g.pattern-one > path, g.pattern-one > circle, g > path.pattern-one {
	stroke-dasharray: 3,3;
	stroke: #006699;
}

g.pattern-two > path, g.pattern-two > circle, g > path.pattern-two {
	stroke-dasharray: 6,6;
	stroke: #700000;
}

g.pattern-three > path, g.pattern-three > circle, g > path.pattern-three {
	stroke-dasharray: 12,12;
	stroke: #009900;	
}

g.pattern-four > path, g.pattern-four > circle, g > path.pattern-four {
	stroke-dasharray: 12,3,3,3;
	stroke: #FF9900;	
}

g.pattern-five > path, g.pattern-five > circle, g > path.pattern-five {
	stroke: #663399; 
}

g.pattern-six > path, g.pattern-six > circle, g > path.pattern-six {
    stroke-dasharray: 3,3,3,3,12,3;
	stroke: #CC0033; 
}

g.pattern-one > circle {
	fill: #006699;
}

g.pattern-two > circle  {
	fill: #700000;
}

g.pattern-three > circle  {
	fill: #009900;	
}

g.pattern-four > circle  {
	fill: #FF9900;	
}

g.pattern-five > circle  {
	fill: #663399; 
}

g.pattern-six > circle  {
	fill: #CC0033; 
}

.dateField + .ui-datepicker-trigger {
	display: none;
}

#activityGraph .timeRange {
	margin-top: 0px;
}

.timeRange .input-group-addon {
	cursor: pointer;	
}