@CHARSET "UTF-8";

#dashboard h1 {
	float: none;
	padding: 0.6em 0em;
	border-top: 1px solid #ccc;
	margin: 0em;
	color: #0288D1;
}

#dashboard h2 {
	padding: 0.3em 0em;
	margin: 0em;
	font-weight: normal;
	color: #000;
}

#dashboard h3 {
	padding: 0.3em 0em;
	margin: 0em;
	font-weight: normal;
	color: #666;
}

#dashboard .dateField {
	width: 62px;
	height: 23px;
	cursor: default;
}

#dashboard .stats {
	padding: 0em 0em 0.6em 0em;
}

#dashboard .stats + p {
	margin: 0.8em 0em 0.4em 0em;
}

#dashboard .stats input {
    vertical-align: middle;
    margin: 0em 1em 0em 0.3em;
}

#dashboard .timeRange .ui-datepicker-trigger {
	margin-right: 1em;
}

#dashboard .timeRange strong {
	margin-right: 0.3em;
}

#dashboard .chartBlock {
	padding-top: 24px;
	clear: both;
}

#dashboard .dateField {
	margin-right: 9px;
}

#dashboard .timeRange {
	float: left;
}

#dashboard .period {
	float: right;
}

#dashboard .period input[type=radio] {
	display: none;
	margin: 10px;
}

#dashboard .period input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 8px 18px;
	background-color: #e7e7e7;
	border-color: #ddd;
	border: 2px #ddd solid;
	cursor: pointer;
}

#dashboard .period input[type=radio]:checked+label {
	background-image: none;
	background-color: #d0d0d0;
}

#dashboard .loader {
	background-image: url('/resources/images/style/ajax-loader-black.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
}

#dashboard h1 {
	clear: left;
}

#dashboard .counts {
	float: left;
	margin-right: 2em;
	padding: 1em;
	width: 14em;
	height: 5em;
	border: 1px solid black;
	margin-bottom: 2em;
}

#dashboard .counts .count {
	float: right;
	font-size: 2em;
	font-weight: bold;
}

#dashboard .counts .percent {
	margin-left: 2.4em;
	color: #22dd22;
	font-size: 1.2em;
}

#dashboard .counts .trend-up {
	color: #22dd22;
}

#dashboard .counts .trend-down {
	color: #dd2222;
}

#dashboard .arrow.trend-up:after {
	border-bottom-color: #22dd22;	
	bottom: 0em;
}

#dashboard .arrow.trend-down:after {
	border-top-color: #dd2222;	
	top: 0em;
}

#dashboard .arrow {
	position: relative;
	background: #53d51c;
}

#dashboard .arrow:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1.2em;
}

.dashboard-table {
	width: 100%;
}

.dashboard-table thead {
	background-color: #0187D0;
}

.dashboard-table thead tr th {
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	color: white;
}

.dashboard-table thead tr {
	border:	1px solid #0187D0;
}

.dashboard-table td  {
	border: 1px solid #ddd;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(1) {
	width: 12%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(2) {
	width: 33%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(3) {
	width: 20%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(4) {
	width: 12%;
}

#dashboard #mostActiveHashtagsTable tr > *:nth-child(5) {
	width: 20%;
}

.dashboard-table tr > * {
	padding: 0.6em 1.2em;
}

.dashboard-table tbody tr:nth-child(even) {
	background-color: #eee;
}

.dashboard-table tbody tr:nth-child(odd) {
	background-color: #fff;
}

#dashboard #mostActiveHashtagsTable tr.hashtag button {
	width: auto;
}

#dashboard #twitterHashtagsGraph {
	clear: both;
}

#dashboard .navigation {
	margin-top: 1em;
}

#dashboard .navigation > *:not(:last-child) {
	margin-right: 0.6em;
}

#dashboard .navigation > *:not(:last-child):after {
	content: "|";
	margin: 0em 0.6em;
	color: #ccc;
}

#dashboard #disabled-hashtags-dialog {
	display: none;
}

#dashboard #disabled-hashtag-dialog {
	
}