@CHARSET "UTF-8";

#dashboard h1 {
	float: none;
	margin-bottom: 1em;
}

#dashboard .dateField {
	width: 62px;
	height: 23px;
	cursor: default;
}

#dashboard .timeRange .ui-datepicker-trigger {
	margin-right: 1em;
}

#dashboard .timeRange strong {
	margin-right: 0.3em;
}

#dashboard .chartBlock {
	padding-top: 24px;
	clear: both;
}

#dashboard .dateField {
	margin-right: 9px;
}

#dashboard .timeRange {
	float: left;
}

#dashboard .period {
	float: right;
}

#dashboard .period input[type=radio] {
	display: none;
	margin: 10px;
}

#dashboard .period input[type=radio]+label {
	display: inline-block;
	margin: -2px;
	padding: 8px 18px;
	background-color: #e7e7e7;
	border-color: #ddd;
	border: 2px #ddd solid;
	cursor: pointer;
}

#dashboard .period input[type=radio]:checked+label {
	background-image: none;
	background-color: #d0d0d0;
}

#dashboard .loader {
	background-image: url('/resources/images/style/ajax-loader-black.gif');
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
}

#dashboard h1 {
	clear: left;
}

#dashboard .counts {
	float: left;
	margin-right: 2em;
	padding: 1em;
	width: 14em;
	height: 5em;
	border: 1px solid black;
	margin-bottom: 2em;
}

#dashboard .counts .count {
	float: right;
	font-size: 2em;
	font-weight: bold;
}

#dashboard .counts .percent {
	margin-left: 2.4em;
	color: #22dd22;
	font-size: 1.2em;
}

#dashboard .counts .trend-up {
	color: #22dd22;
}

#dashboard .counts .trend-down {
	color: #dd2222;
}

#dashboard .arrow.trend-up:after {
	border-bottom-color: #22dd22;	
	bottom: 0em;
}

#dashboard .arrow.trend-down:after {
	border-top-color: #dd2222;	
	top: 0em;
}

#dashboard .arrow {
	position: relative;
	background: #53d51c;
}

#dashboard .arrow:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-width: 1.2em;
}