@CHARSET "UTF-8";

#end {
	fill: #999;
}

path.link {
	fill: none;
	stroke: #999;
	stroke-width: 3px;
}

path.link.twofive {
	opacity: 0.33;
	stroke-width: 1px;
}

path.link.fivezero {
	opacity: 0.66;
	stroke-width: 1px;
}

path.link.sevenfive {
	opacity: 0.82;
	stroke-width: 2px;
}

path.link.onezerozero {
	opacity: 1.0;
	stroke-width: 3px;
}

circle {
	fill: #ccc;
	stroke: white;
	stroke-width: 2px;
}

circle.main {
	fill: red;
}

circle.one {
	fill: gray;
}

circle.two {
	fill: green;	
}

circle.three {
	fill: blue;
}

circle.four {
	fill: purple;
}

circle.five {
	fill: yellow;
}

circle.six {
	fill: orange;
}

circle.focus {
	stroke: #66cccc;
	stroke-width: 6px;
}

text {
	fill: #000;
	font: 10px sans-serif;
	pointer-events: none;
}

#social-interaction {
	width: 100%;
}

#social-interaction #graph {
	padding: 0.2em;
	border: solid 1px #ccc;
}

#social-interaction #graph svg {
	width: 100%;
	height: 640px;
}