.timeline-axis path,
.timeline-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.timeline-line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.timeline-context .timeline-line {
  stroke-width: 0.5px;
}

.timeline-brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.timeline-cred-ann-line {
	stroke : #64BFCD;
	stroke-width : 2;
	fill : none;
}

.timeline-comp-ann-line {
	stroke : #FCA567;
	stroke-width : 2;
	fill : none;
}

.timeline-acti-ann-line {
	stroke : #9b59b6;
	stroke-width : 2;
	fill : none;
}

.timeline-cred-ann-dot {
	stroke : #64BFCD;
	stroke-width : 2;
	fill : #64BFCD;
}

.timeline-comp-ann-dot {
	stroke : #FCA567;
	stroke-width : 2;
	fill : #FCA567;
}

.timeline-acti-ann-dot {
	stroke : #9b59b6;
	stroke-width : 2;
	fill : #9b59b6;
}

.tooltip-text {
	font-size: 10px;
}

.timeline-tooltip {
	fill : white;
	stroke-width : 2;
}

.timeline-tooltip-title {
	stroke-width : 2;
}
.timeline-link {
	fill:#2196f3;
}
.timeline-tooltip-title-text {
	fill: rgb(255,255,255);
    font-weight: bold;
}




